{
  "openapi": "3.1.0",
  "info": {
    "title": "MemOS Dashboard APIs",
    "description": "Dashboard API for managing messages and searching memories in MemOS.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://memos.memtensor.cn/api/openmem/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "paths": {
    "/add/message": {
      "post": {
        "summary": "Add Message",
        "description": "该接口用于添加会话消息，支持多类型内容、批量添加。MemOS 会自动解析消息并处理记忆，用于后续对话时召回参考。",
        "operationId": "add_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0610",
                "messages": [
                  {
                    "role": "user",
                    "content": "我想暑假出去玩，你能帮我推荐下吗？"
                  },
                  {
                    "role": "assistant",
                    "content": "好的！是自己出行还是和家人朋友一起呢？"
                  },
                  {
                    "role": "user",
                    "content": "肯定要带孩子啊，我们家出门都是全家一起。"
                  },
                  {
                    "role": "assistant",
                    "content": "明白了，所以你们是父母带孩子一块儿旅行，对吗？"
                  },
                  {
                    "role": "user",
                    "content": "对，带上孩子和老人，一般都是全家行动。"
                  },
                  {
                    "role": "assistant",
                    "content": "收到，那我会帮你推荐适合家庭出游的目的地。"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMessageResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n    \"user_id\": \"memos_user_123\",\n    \"conversation_id\": \"0610\",\n    \"messages\": [\n      {\"role\": \"user\", \"content\": \"我暑假定好去广州旅游，住宿的话有哪些连锁酒店可选？\"},\n      {\"role\": \"assistant\", \"content\": \"您可以考虑【七天、全季、希尔顿】等等\"},\n      {\"role\": \"user\", \"content\": \"我选七天\"},\n      {\"role\": \"assistant\", \"content\": \"好的，有其他问题再问我。\"}\n    ]\n  }\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/add/message\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# # 请确保已安装MemoS (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# 使用 API Key 初始化客户端\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nmessages = [\n  {\"role\": \"user\", \"content\": \"我暑假定好去广州旅游，住宿的话有哪些连锁酒店可选？\"},\n  {\"role\": \"assistant\", \"content\": \"您可以考虑【七天、全季、希尔顿】等等\"},\n  {\"role\": \"user\", \"content\": \"我选七天\"},\n  {\"role\": \"assistant\", \"content\": \"好的，有其他问题再问我。\"}\n]\nuser_id = \"memos_user_123\"\nconversation_id = \"0610\"\n\nres = client.add_message(messages=messages, user_id=user_id, conversation_id=conversation_id)\n\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/add/message \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"user_id\": \"memos_user_123\",\n    \"conversation_id\": \"0610\",\n    \"messages\": [\n      {\"role\": \"user\", \"content\": \"我暑假定好去广州旅游，住宿的话有哪些连锁酒店可选？\"},\n      {\"role\": \"assistant\", \"content\": \"您可以考虑【七天、全季、希尔顿】等等\"},\n      {\"role\": \"user\", \"content\": \"我选七天\"},\n      {\"role\": \"assistant\", \"content\": \"好的，有其他问题再问我。\"}\n    ]\n  }'"
          }
        ]
      }
    },
    "/get/message": {
      "post": {
        "summary": "Get Message",
        "description": "该接口用于获取指定会话的用户与助手历史对话记录，可按数量限制返回结果。",
        "operationId": "get_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0928",
                "message_limit_number": 6
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"user_id\": \"memos_user_123\",\n  \"conversation_id\": \"0610\"\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/get/message\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/get/message \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"user_id\": \"memos_user_123\",\n    \"conversation_id\": \"0610\"\n  }'"
          }
        ]
      }
    },
    "/search/memory": {
      "post": {
        "summary": "Search Memory",
        "description": "该接口用于检索指定用户的记忆，返回与输入查询内容最相关的记忆片段，供 Agent 使用。召回的记忆片段包括“事实记忆”、“偏好记忆”、“工具记忆”和“技能 Skill”。Skill 既可以来自用户对话自动生成，也可以来自知识库中上传的自定义 Skill 文件。",
        "operationId": "search_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchMemoryRequest"
              },
              "example": {
                "query": "帮我总结今年和阅读相关的记忆",
                "user_id": "memos_user_123",
                "conversation_id": "0928",
                "knowledgebase_ids": [
                  "kb_xxx"
                ],
                "filter": {
                  "knowledgebase": {
                    "and": [
                      {
                        "tags": {
                          "contains": "阅读"
                        }
                      },
                      {
                        "create_time": {
                          "gte": "2025-01-01"
                        }
                      },
                      {
                        "create_time": {
                          "lte": "2025-12-31"
                        }
                      }
                    ]
                  },
                  "user": {
                    "and": [
                      {
                        "scene": "chat"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMemoryResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"query\": \"我国庆想出去玩，帮我推荐个没去过的城市，以及没住过的酒店品牌\",\n  \"user_id\": \"memos_user_123\",\n  \"conversation_id\": \"0928\"\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/search/memory\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# 请确保已安装MemOS (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# 使用 API Key 初始化客户端\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nquery = \"我国庆想出去玩，帮我推荐个没去过的城市，以及没住过的酒店品牌\"\nuser_id = \"memos_user_123\"\nconversation_id = \"0928\"\n\nres = client.search_memory(query=query, user_id=user_id, conversation_id=conversation_id)\n\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/search/memory \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"query\": \"我国庆想出去玩，帮我推荐个没去过的城市，以及没住过的酒店品牌\",\n    \"user_id\": \"memos_user_123\",\n    \"conversation_id\": \"0928\"\n  }'"
          }
        ]
      }
    },
    "/chat": {
      "post": {
        "summary": "Chat",
        "description": "",
        "operationId": "chat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "stream": false,
                "query": "上海有哪些好玩的",
                "model_name": "deepseek-r1",
                "conversation_id": "23006762-a064-456e-a33b-d2452bdfa09f",
                "knowledgebase_ids": [
                  "2448808afa784cc5f7595da21ae5a3fd"
                ],
                "filter": {
                  "and": [
                    {
                      "create_time": {
                        "gt": "2025-09-19"
                      }
                    }
                  ]
                },
                "system_prompt": "推荐公园",
                "add_message_on_answer": false,
                "allow_public": false,
                "allow_knowledgebase_ids": [],
                "agent_id": "agent_id_2025-12-15-01",
                "app_id": "app_id_2025-12-15-01",
                "tags": [],
                "info": {},
                "max_tokens": 8192,
                "temperature": 0.7,
                "top_p": 0.95
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatStreamResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"user_id\": \"memos_user_123\",\n  \"conversation_id\": \"memos_chat_conv\",\n  \"query\": \"给我介绍MemOS\"\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/chat\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# 请确保已安装MemoS (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# 使用 API Key 初始化客户端\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nuser_id = \"memos_user_123\"\nconversation_id = \"memos_chat_conv\"\nquery = \"给我介绍MemOS\"\n\nres = client.chat(user_id=user_id,conversation_id=conversation_id,query=query)\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/chat \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"user_id\": \"memos_user_123\",\n    \"conversation_id\": \"memos_chat_conv\",\n    \"query\": \"给我介绍MemOS\"\n  }'"
          }
        ]
      }
    },
    "/get/memory": {
      "post": {
        "summary": "Get Memory",
        "description": "该接口用于获取某个用户的记忆，包含事实记忆、偏好记忆与工具记忆。",
        "operationId": "get_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMemoryResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n    \"user_id\": \"memos_user_123\"\n  }\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/get/memory\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/get/memory \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"user_id\": \"memos_user_123\"\n  }'"
          }
        ]
      }
    },
    "/delete/memory": {
      "post": {
        "summary": "Delete Memory",
        "description": "该接口用于删除指定用户的记忆，支持批量删除。",
        "operationId": "delete_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMemoryResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"memory_ids\": [\"6b23b583-f4c4-4a8f-b345-58d0c48fea04\"]  # 替换为真实的记忆 ID\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/delete/memory\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# # 请确保已安装MemoS (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# 使用 API Key 初始化客户端\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nmemory_ids = [\"6b23b583-f4c4-4a8f-b345-58d0c48fea04\"] # 替换为真实的记忆 ID\n\nres = client.delete_memory(memory_ids=memory_ids)\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/delete/memory \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"memory_ids\": [\"6b23b583-f4c4-4a8f-b345-58d0c48fea04\"]\n  }'"
          }
        ]
      }
    },
    "/add/feedback": {
      "post": {
        "summary": "Add Feedback",
        "description": "该接口用于添加对当前会话消息的反馈，MemOS能够基于用户的反馈更正记忆。",
        "operationId": "add_feedback",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFeedbackResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"user_id\": \"memos_user_123\",\n  \"conversation_id\": \"memos_feedback_conv\",\n  \"feedback_content\": \"不对，我们现在改成一线城市餐补150元每天，住宿补贴700元每天；二三线城市还是原来那样。\",\n  \"allow_knowledgebase_ids\":[\"basee5ec9050-c964-484f-abf1-ce3e8e2aa5b7\"] # 替换为知识库 ID\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/add/feedback\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# # 请确保已安装MemoS (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# 使用 API Key 初始化客户端\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nuser_id = \"memos_user_123\"\nconversation_id = \"memos_feedback_conv\"\nfeedback_content = \"不对，我们现在改成一线城市餐补150元每天，住宿补贴700元每天；二三线城市还是原来那样。\"\nallow_knowledgebase_ids = [\"basee5ec9050-c964-484f-abf1-ce3e8e2aa5b7\"] # 替换为知识库 ID\n\nres = client.add_feedback(\n    user_id=user_id,\n    conversation_id=conversation_id,\n    feedback_content=feedback_content,\n    allow_knowledgebase_ids=allow_knowledgebase_ids\n)\n\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/add/feedback \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"user_id\": \"memos_user_123\",\n    \"conversation_id\": \"memos_feedback_conv\",\n    \"feedback_content\": \"不对，我们现在改成一线城市餐补150元每天，住宿补贴700元每天；二三线城市还是原来那样。\",\n    \"allow_knowledgebase_ids\":[\"basee5ec9050-c964-484f-abf1-ce3e8e2aa5b7\"]\n  }'"
          }
        ]
      }
    },
    "/extract/memory": {
      "post": {
        "summary": "Extract Memory",
        "description": "基于 MemOS 自研抽取模型，从对话消息中直接抽取并返回事实与偏好记忆。",
        "operationId": "extract_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractMemoryRequest"
              },
              "example": {
                "messages": [
                  {
                    "role": "user",
                    "content": "我暑假定好去广州旅游，住宿的话有哪些连锁酒店可选？"
                  },
                  {
                    "role": "assistant",
                    "content": "您可以考虑【七天、全季、希尔顿】等等"
                  },
                  {
                    "role": "user",
                    "content": "我选七天"
                  },
                  {
                    "role": "assistant",
                    "content": "好的，有其他问题再问我。"
                  }
                ],
                "extraction_types": [
                  "memory",
                  "preference"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractMemoryResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n    \"messages\": [\n        {\"role\": \"user\", \"content\": \"我暑假定好去广州旅游，住宿的话有哪些连锁酒店可选？\"},\n        {\"role\": \"assistant\", \"content\": \"您可以考虑【七天、全季、希尔顿】等等\"},\n        {\"role\": \"user\", \"content\": \"我选七天\"},\n        {\"role\": \"assistant\", \"content\": \"好的，有其他问题再问我。\"}\n    ],\n    \"extraction_types\": [\"memory\", \"preference\"]\n}\nheaders = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/extract/memory\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/extract/memory \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"messages\": [\n      {\"role\": \"user\", \"content\": \"我暑假定好去广州旅游，住宿的话有哪些连锁酒店可选？\"},\n      {\"role\": \"assistant\", \"content\": \"您可以考虑【七天、全季、希尔顿】等等\"},\n      {\"role\": \"user\", \"content\": \"我选七天\"},\n      {\"role\": \"assistant\", \"content\": \"好的，有其他问题再问我。\"}\n    ],\n    \"extraction_types\": [\"memory\", \"preference\"]\n  }'"
          }
        ]
      }
    },
    "/rerank": {
      "post": {
        "summary": "Rerank Memory",
        "description": "提供记忆重排接口，基于 memos-reranker 小模型，传入用户查询与候选记忆列表，一键完成记忆相关性重排。",
        "operationId": "rerank",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerankRequest"
              },
              "example": {
                "model": "memos-reranker-0.6b",
                "query": "用户有什么兴趣爱好",
                "documents": [
                  "用户喜欢打羽毛球",
                  "用户在杭州做后端开发",
                  "用户偏好简洁的回复风格",
                  "用户比较喜欢酱香型白酒",
                  "用户下周三要去北京出差"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\nurl = f\"{os.environ['MEMOS_BASE_URL']}/rerank\"\n\npayload = {\n    \"model\": \"memos-reranker-0.6b\",\n    \"query\": \"用户有什么兴趣爱好\",\n    \"documents\": [\n        \"用户喜欢打羽毛球\",\n        \"用户在杭州做后端开发\",\n        \"用户偏好简洁的回复风格\",\n        \"用户比较喜欢酱香型白酒\",\n        \"用户下周三要去北京出差\"\n    ]\n}\n\nheaders = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\n\nresponse = requests.post(url, headers=headers, data=json.dumps(payload))\nprint(response.json())"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/rerank \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"model\": \"memos-reranker-0.6b\",\n    \"query\": \"用户有什么兴趣爱好\",\n    \"documents\": [\n        \"用户喜欢打羽毛球\",\n        \"用户在杭州做后端开发\",\n        \"用户偏好简洁的回复风格\",\n        \"用户比较喜欢酱香型白酒\",\n        \"用户下周三要去北京出差\"\n    ]\n}'"
          }
        ]
      }
    },
    "/get/status": {
      "post": {
        "summary": "Get Task Status",
        "description": "获取异步处理任务的状态。",
        "operationId": "get_status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStatusResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"task_id\": \"40aae834-4248-4944-b2bb-a674f37a2fdb\" # 替换为要查询的任务 ID\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/get/status\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/get/status \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"task_id\": \"40aae834-4248-4944-b2bb-a674f37a2fdb\"\n  }'"
          }
        ]
      }
    },
    "/create/knowledgebase": {
      "post": {
        "summary": "创建知识库",
        "description": "创建与项目关联的知识库",
        "operationId": "create_knowledgebase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgebaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKnowledgebaseResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"knowledgebase_name\": \"财务报销知识库\",\n  \"knowledgebase_description\": \"本公司所有财务报销相关的知识汇总。\"\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/create/knowledgebase\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# 请确保已安装MemoS (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# 使用 API Key 初始化客户端\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nknowledgebase_name = \"财务报销知识库\"\nknowledgebase_description = \"本公司所有财务报销相关的知识汇总。\"\n\nres = client.create_knowledgebase(\n    knowledgebase_name=knowledgebase_name,\n    knowledgebase_description=knowledgebase_description\n)\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/create/knowledgebase \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"knowledgebase_name\": \"财务报销知识库\",\n    \"knowledgebase_description\": \"本公司所有财务报销相关的知识汇总。\"\n  }'"
          }
        ]
      }
    },
    "/delete/knowledgebase": {
      "post": {
        "summary": "移除知识库",
        "description": "从当前项目中移除知识库，彻底删除知识库需从控制台-知识库页面操作。",
        "operationId": "delete_knowledgebase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteKnowledgebaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteKnowledgebaseResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n    \"knowledgebase_id\": \"basee5ec9050-c964-484f-abf1-ce3e8e2aa5b7\" # 替换为要删除的知识库 ID\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/delete/knowledgebase\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# 请确保已安装MemoS (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# 使用 API Key 初始化客户端\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nknowledgebase_id = \"basee5ec9050-c964-484f-abf1-ce3e8e2aa5b7\" # 替换为要删除的知识库 ID\n\nres = client.delete_knowledgebase(knowledgebase_id=knowledgebase_id)\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/delete/knowledgebase \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"knowledgebase_id\": \"basee5ec9050-c964-484f-abf1-ce3e8e2aa5b7\"\n  }'"
          }
        ]
      }
    },
    "/add/knowledgebase-file": {
      "post": {
        "summary": "添加知识库文件",
        "description": "向指定知识库上传文件。默认上传普通文档；当 file[].type 为 skill 时，上传 Markdown Skill 文件或 ZIP 技能包。",
        "operationId": "add_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "上传文档",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"knowledgebase_id\": \"basec32f88c6-9dd3-4061-82c8-f0fa0e85a284\",  # 替换为要上传文档的知识库 ID\n  \"file\": [\n    {\"content\": \"https://cdn.memtensor.com.cn/file/出差报销额度说明.docx\"}\n  ]\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/add/knowledgebase-file\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "上传 Skill",
            "source": "import os\nimport requests\nimport json\nimport base64\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\nskill_markdown = \"\"\"---\nname: 客服退货处理流程\ndescription: 指导客服按标准流程处理用户退货请求\n---\n\n## Procedure\n\n1. 确认用户身份和订单号\n2. 核实退货原因是否符合政策\n3. 引导用户选择退货方式（上门取件/自行寄回）\n4. 生成退货单号并告知用户\n5. 跟踪物流状态，退款到账后通知用户\n\n## Experience\n\n- 签收 7 天内可无理由退货\n- 生鲜类商品不支持退货，需走售后补偿流程\n- 高价值商品（>500 元）需主管审批\n\"\"\"\n\nencoded_skill = base64.b64encode(skill_markdown.encode(\"utf-8\")).decode(\"utf-8\")\n\ndata = {\n  \"knowledgebase_id\": \"kb_xxx\",  # 替换为要上传 Skill 的知识库 ID\n  \"file\": [\n    {\n      \"type\": \"skill\",\n      \"name\": \"customer-return-sop.md\",\n      \"content\": f\"data:text/markdown;base64,{encoded_skill}\"\n    }\n  ]\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/add/knowledgebase-file\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# 请确保已安装MemOS (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# 使用 API Key 初始化客户端\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nknowledgebase_id = \"basec32f88c6-9dd3-4061-82c8-f0fa0e85a284\"  # 替换为要上传文档的知识库 ID\nfile = [\n  {\n    \"content\": \"https://cdn.memtensor.com.cn/file/出差报销额度说明.docx\"\n  }\n]\n\nres = client.add_knowledgebase_file(knowledgebase_id=knowledgebase_id, file=file)\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/add/knowledgebase-file \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"knowledgebase_id\": \"basec32f88c6-9dd3-4061-82c8-f0fa0e85a284\",\n    \"file\": [\n      {\n        \"type\": \"skill\",\n        \"content\": \"https://cdn.memtensor.com.cn/file/SKILL.md\"\n      }\n    ]\n  }'"
          }
        ]
      }
    },
    "/get/knowledgebase-file": {
      "post": {
        "summary": "获取知识库文件",
        "description": "通过两种方式获取文件信息：传 file_ids 获取指定文件详情，或传 knowledgebase_id 获取某个知识库下的文件列表。两种方式只能选择一种；同时传 knowledgebase_id 和 file_ids 会报错。",
        "operationId": "get_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "按知识库查询",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"knowledgebase_id\": \"kb_xxx\",  # 查询该知识库下的文件列表\n  \"type\": \"skill\",               # 可选：document / skill\n  \"page\": 1,\n  \"page_size\": 20\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/get/knowledgebase-file\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "按文件 ID 查询",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"file_ids\": [\"file_xxx\"]  # 查询指定文件详情\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/get/knowledgebase-file\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# 请确保已安装MemOS (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# 使用 API Key 初始化客户端\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nfile_ids = [\"file_xxx\"]  # 查询指定文件详情\n\nres = client.get_knowledgebase_file(file_ids=file_ids)\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/get/knowledgebase-file \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"knowledgebase_id\": \"kb_xxx\",\n    \"type\": \"skill\",\n    \"page\": 1,\n    \"page_size\": 20\n  }'"
          }
        ]
      }
    },
    "/delete/knowledgebase-file": {
      "post": {
        "summary": "删除知识库文件",
        "description": "从指定知识库中删除文件。删除 Skill 文件时，与该文件关联的 Skill 会同步删除。",
        "operationId": "delete_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# 替换成你的 API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"file_ids\": [\"3711d404c51592c4eebae46900236f50\"] # 替换为知识库文档 ID\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/delete/knowledgebase-file\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# 请确保已安装MemoS (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# 使用 API Key 初始化客户端\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nfile_ids = [\"3711d404c51592c4eebae46900236f50\"] # 替换为知识库文档 ID\n\nres = client.delete_knowledgebase_file(file_ids=file_ids)\n\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/delete/knowledgebase-file \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"file_ids\": [\"3711d404c51592c4eebae46900236f50\"]\n  }'"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Token API_key，可在 [API 控制台>接口密钥](https://memos-dashboard.openmem.net/apikeys/) 中查看"
      }
    },
    "schemas": {
      "ChatRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "对话内容所关联的用户唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "description": "对话内容所在会话的唯一标识符，传入可明确当前会话，本会话的记忆应当比其他历史会话的权重高；不传可跨会话检索相关记忆，得到相关性更高的模型回答。"
          },
          "query": {
            "type": "string",
            "description": "用户输入的对话内容。"
          },
          "filter": {
            "type": "object",
            "description": "记忆过滤的条件，用于在检索记忆前精确限定记忆范围。可用字段包括：\"agent_id\", \"app_id\", \"create_time\", \"update_time\"与\"info\"中的字段。支持逻辑运算符（and，or）和比较运算符（gte、lte、gt、lt）。对于\"info\"字段，支持过滤传入的\"business_type\", \"biz_id\", \"scene\"和其他自定义字段。",
            "example": "{\"and\": [{\"create_time\":{\"gte\":\"...\"}}]}"
          },
          "knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "该字段用于限制当次搜索可访问的知识库范围，默认为空（即不检索任何知识库）。传入具体知识库 ID，则可检索指定知识库中的普通文档和已上传的 Skill；传入 all，则可检索该项目下所有关联知识库。"
          },
          "memory_limit_number": {
            "type": "integer",
            "description": "召回的事实记忆条数上限，在满足相关性阈值（relativity）的前提下最多返回该数量的记忆，不保证返回固定条数。默认值 9，最大值 25。",
            "default": 9
          },
          "include_preference": {
            "type": "boolean",
            "description": "是否要召回偏好记忆，开启后系统会根据查询内容智能召回与用户偏好相关的记忆。默认 =true",
            "default": true
          },
          "preference_limit_number": {
            "type": "integer",
            "description": "召回的偏好记忆条数上限，在满足相关性阈值（relativity）的前提下最多返回该数量的记忆，不保证返回固定条数。默认值 9，最大值 25。",
            "default": 9
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "召回记忆的相关性阈值（0~1）。用于过滤低相关记忆，并与限定返回的事实、偏好记忆最大条数，共同约束最终返回结果。不传时使用系统默认阈值，取值为0时表示不进行相关性过滤。",
            "default": 0.45
          },
          "model_name": {
            "type": "string",
            "enum": [
              "qwen3-32b",
              "deepseek-r1",
              "qwen2.5-72b-instruct"
            ],
            "description": "指定具体对话模型。",
            "default": "qwen2.5-72B-Instruct"
          },
          "system_prompt": {
            "type": "string",
            "description": "自定义系统指令。"
          },
          "stream": {
            "type": "boolean",
            "description": "是否启用流式返回。",
            "default": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "表示最大生成 token 数。",
            "default": 8192
          },
          "temperature": {
            "type": "number",
            "description": "控制生成随机性。取值范围：0 ≤ x ≤ 2",
            "default": 0.7
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus 采样参数。取值范围：0 ≤ x ≤ 1",
            "default": 0.95
          },
          "add_message_on_answer": {
            "type": "boolean",
            "description": "是否自动将用户与助手的会话内容写入记忆。启用后，开发者无需再调用add/message接口添加消息为记忆。",
            "default": true
          },
          "app_id": {
            "type": "string",
            "description": "对话内容所关联的应用唯一标识符。"
          },
          "agent_id": {
            "type": "string",
            "description": "对话内容所关联的Agent唯一标识符。"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "自定义标签列表，用于标记对话内容的主题或分类。"
          },
          "info": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "自定义元信息字段，能够存储任意与对话内容相关的结构化数据，例如位置、来源、版本等，主要用于在检索时精确过滤或追踪来源。"
          },
          "allow_public": {
            "type": "boolean",
            "description": "是否允许加入公共记忆。",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "添加的消息产生的记忆允许被写入的知识库列表。"
          }
        }
      },
      "ChatResponseData": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "回答的具体内容。"
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "接口状态码，更多内容可查阅[错误码列表](/api_docs/help/error_codes)了解详情。"
          },
          "data": {
            "$ref": "#/components/schemas/ChatResponseData"
          },
          "message": {
            "type": "string",
            "description": "提示信息"
          }
        }
      },
      "ChatStreamResponse": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "description": "流式事件名称，当前默认为 message。",
            "default": "message"
          },
          "data": {
            "type": "object",
            "description": "流式返回的数据内容。",
            "properties": {
              "type": {
                "type": "string",
                "description": "流式消息类型，用于标识当前数据的语义类别。  \nreasoning：推理内容  \ntext：正常文本内容  \nend：流式结束标识",
                "enum": [
                  "reasoning",
                  "text",
                  "end"
                ]
              },
              "data": {
                "type": "string",
                "description": "流式返回的文本内容。"
              }
            }
          }
        }
      },
      "MessageInput": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "chat_time": {
            "type": "string",
            "description": "对话发生的时间，可传入结构化时间或中文时间描述。传入该参数能够让记忆携带时间信息。"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "tool"
            ],
            "description": "消息创建者的角色。"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "消息文本内容"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "image_url",
                        "file"
                      ],
                      "description": "发送的消息类型"
                    },
                    "text": {
                      "type": "string",
                      "description": "文本消息内容。type为text时必填。"
                    },
                    "image_url": {
                      "type": "object",
                      "description": "图片消息内容对象。",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "图片消息URL。type为image_url时必填。"
                        }
                      }
                    },
                    "file": {
                      "type": "object",
                      "description": "文件消息内容对象。",
                      "properties": {
                        "file_data": {
                          "type": "string",
                          "description": "可访问的文件URL或者base64, 只支持七种类型txt / pdf / doc / docx / json / md / xml， 单文件不超过100MB、500页，总数不超过20个。type为file时必填。注意：该接口的总输入上限为40,000 Tokens。"
                        }
                      }
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                "description": "多模态内容列表"
              }
            ],
            "description": "消息内容文本。"
          },
          "tool_call_id": {
            "type": "string",
            "description": "role为tool时，工具调用消息的唯一标识。"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "工具调用的唯一标识，用于关联本次工具调用。tool_calls中必填。"
                },
                "type": {
                  "type": "string",
                  "description": "工具调用类型，当前仅支持 function。tool_calls中必填。",
                  "enum": [
                    "function"
                  ]
                },
                "function": {
                  "type": "object",
                  "description": "被调用的工具定义，tool_calls中必填。",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "工具（函数）名称，tool_calls中必填。"
                    },
                    "arguments": {
                      "type": "string",
                      "description": "工具调用参数，需为 JSON 格式的字符串，tool_calls中必填。"
                    }
                  }
                }
              }
            },
            "description": "role为assistant时，工具调用信息列表，用于在触发工具调用时传递。"
          }
        }
      },
      "AddMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "messages"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "添加的消息所关联的用户唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "description": "添加的消息所关联的会话唯一标识符，相同conversation_id下的多轮消息会被识别为同一上下文。"
          },
          "messages": {
            "type": "array",
            "description": "添加的消息对象数组，数组中所有消息的总token数上限为40k。",
            "items": {
              "$ref": "#/components/schemas/MessageInput"
            }
          },
          "agent_id": {
            "type": "string",
            "description": "添加的消息所关联的 Agent 唯一标识符，主要用于在检索记忆时查询某用户与该Agent的专属记忆。"
          },
          "app_id": {
            "type": "string",
            "description": "添加的消息所关联的应用唯一标识符，主要用于在检索记忆时查询某用户在该App下的专属记忆。"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "自定义标签列表，用于标记添加消息的主题或分类。",
            "default": []
          },
          "info": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "自定义元信息字段，能够存储任意与添加信息相关的结构化数据，例如位置、来源、版本等，主要用于在检索时精确过滤或追踪来源。"
          },
          "allow_public": {
            "type": "boolean",
            "description": "添加的消息产生的记忆是否允许写入公共记忆库。开启后，生成的记忆可被项目下的其他用户检索。",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "添加的消息，产生的记忆允许被写入的知识库范围。",
            "default": []
          },
          "async_mode": {
            "type": "boolean",
            "description": "是否启用异步添加记忆。开启后，记忆将在后台异步添加，避免阻塞调用链。",
            "default": true
          }
        }
      },
      "OpenMemAddMessageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "是否添加成功。true表示成功，false表示失败。",
            "example": true
          },
          "task_id": {
            "type": "string",
            "description": "记忆处理任务的唯一标识。"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "completed",
              "failed"
            ],
            "description": "记忆处理任务当前的状态。"
          }
        }
      },
      "AddMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "接口状态码，更多内容可查阅[错误码列表](/api_docs/help/error_codes)了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/OpenMemAddMessageResponse"
          },
          "message": {
            "type": "string",
            "description": "接口提示信息。",
            "example": "ok"
          }
        }
      },
      "GetMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "与获取消息关联的用户的唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "description": "与获取消息关联的会话的唯一标识符。"
          },
          "message_limit_number": {
            "type": "integer",
            "format": "int32",
            "description": "限定返回的消息条数，用于控制消息列表的长度，不传时使用系统默认值6，最大值为50",
            "default": 6
          }
        }
      },
      "MessageDetail": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "description": "消息发送者的角色。",
            "example": "user"
          },
          "content": {
            "type": "string",
            "description": "消息内容文本。"
          },
          "create_time": {
            "type": "string",
            "description": "消息创建时间。"
          },
          "update_time": {
            "type": "string",
            "description": "消息最近一次更新时间。"
          }
        }
      },
      "GetMessageResponseData": {
        "type": "object",
        "properties": {
          "message_detail_list": {
            "type": "array",
            "description": "消息添加结果对象。",
            "items": {
              "$ref": "#/components/schemas/MessageDetail"
            }
          }
        }
      },
      "GetMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "接口状态码，更多内容可查阅[错误码列表](/api_docs/help/error_codes)了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/GetMessageResponseData"
          },
          "message": {
            "type": "string",
            "description": "接口提示信息。"
          }
        }
      },
      "SearchMemoryRequest": {
        "type": "object",
        "required": [
          "user_id",
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "与查询的记忆关联的用户的唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "description": "查询内容所在会话的唯一标识符，传入可以明确当前会话，本会话的记忆应当比其他历史会话的权重高。"
          },
          "query": {
            "type": "string",
            "description": "要在记忆中查询的文本内容，单次查询文本的token上限为40k。"
          },
          "filter": {
            "type": "object",
            "description": "记忆过滤条件，用于在语义召回前缩小候选范围。可以直接用 `and` / `or` 做全局过滤，也可以按 `user`、`public`、`knowledgebase` 分来源过滤。完整字段和示例见 [记忆过滤](/cn/memos_cloud/features/filters)。",
            "properties": {
              "and": {
                "type": "array",
                "description": "全局 AND 条件数组。数组内所有条件都满足时，候选记忆才会进入语义召回。常用字段包括 `agent_id`、`app_id`、`tags.contains`、`create_time`、`update_time` 和 `info` 中的自定义字段。",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "or": {
                "type": "array",
                "description": "全局 OR 条件数组。数组内任一条件满足时，候选记忆即可进入语义召回。",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "user": {
                "type": "object",
                "description": "用户个人记忆的过滤条件。",
                "properties": {
                  "and": {
                    "type": "array",
                    "description": "用户记忆的 AND 条件数组。",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "or": {
                    "type": "array",
                    "description": "用户记忆的 OR 条件数组。",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              },
              "public": {
                "type": "object",
                "description": "项目级公共记忆的过滤条件。",
                "properties": {
                  "and": {
                    "type": "array",
                    "description": "公共记忆的 AND 条件数组。",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "or": {
                    "type": "array",
                    "description": "公共记忆的 OR 条件数组。",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              },
              "knowledgebase": {
                "type": "object",
                "description": "知识库记忆的过滤条件，仅作用于本次 `knowledgebase_ids` 允许访问的知识库范围。",
                "properties": {
                  "and": {
                    "type": "array",
                    "description": "知识库记忆的 AND 条件数组。",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "or": {
                    "type": "array",
                    "description": "知识库记忆的 OR 条件数组。",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "该字段用于限制当次搜索可访问的知识库范围，默认为空（即不检索任何知识库）。传入具体知识库 ID，则可检索指定的知识库；传入all，则可检索该项目下所有关联知识库。"
          },
          "memory_limit_number": {
            "type": "integer",
            "format": "int32",
            "description": "召回的记忆条数上限，在满足相关性阈值（relativity）的前提下最多返回该数量的记忆，不保证返回固定条数。默认值 9，最大值 25。",
            "default": 9
          },
          "include_preference": {
            "type": "boolean",
            "description": "是否启用偏好记忆召回。开启后，将根据查询的内容智能召回用户的偏好记忆。不传时该功能默认开启。",
            "default": true
          },
          "preference_limit_number": {
            "type": "integer",
            "format": "int32",
            "description": "召回的偏好记忆条数上限，在满足相关性阈值（relativity）的前提下最多返回该数量的记忆，不保证返回固定条数。默认值 9，最大值 25。",
            "default": 9
          },
          "include_tool_memory": {
            "type": "boolean",
            "description": "是否启用工具记忆召回。开启后，系统会根据查询内容智能召回工具相关的记忆。不传时该功能默认关闭。",
            "default": false
          },
          "tool_memory_limit_number": {
            "type": "integer",
            "format": "int32",
            "description": "限定返回的工具记忆条数，用于控制召回的工具记忆个数,仅在 include_tool_memory=true 时生效。不传时使用系统默认值6，最大值为25。",
            "default": 6
          },
          "include_skill": {
            "type": "boolean",
            "description": "是否启用技能（Skill）召回。开启后，系统会根据查询内容召回相关 Skill，包括用户对话自动生成的个性化 Skill，以及 knowledgebase_ids 范围内上传的自定义 Skill。不传时该功能默认关闭。"
          },
          "skill_limit_number": {
            "type": "integer",
            "format": "int32",
            "description": "限定返回的技能（Skill）条数，用于控制召回的技能个数,仅在 include_skill=true 时生效。不传时使用系统默认值6，最大值为25。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "召回记忆的相关性阈值（0~1）。用于过滤低相关记忆，并与限定返回的事实、偏好记忆最大条数，共同约束最终返回结果。不传时使用系统默认阈值，取值为0时表示不进行相关性过滤。",
            "default": 0.45
          }
        }
      },
      "MemoryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "事实记忆的唯一标识符，系统内部用于区分不同的记忆条目。"
          },
          "memory_key": {
            "type": "string",
            "description": "事实记忆的标题或关键词，用于概括该事实记忆的主要内容。"
          },
          "memory_value": {
            "type": "string",
            "description": "事实记忆的具体内容。"
          },
          "memory_type": {
            "type": "string",
            "enum": [
              "WorkingMemory",
              "LongTermMemory",
              "UserMemory"
            ],
            "description": "事实记忆类型。  \nWorkingMemory：工作记忆，临时存储的短期信息。  \nLongTermMemory：长期记忆，持久保存的重要信息或事实。  \nUserMemory：用户记忆，与特定用户相关的个性化信息。",
            "example": "LongTermMemory"
          },
          "create_time": {
            "type": "string",
            "description": "事实记忆内容创建的时间，通常为 ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "description": "与该事实记忆关联的会话的唯一标识符。"
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "description": "事实记忆的状态，当前所有检索到的事实记忆都是activated。  \nactivated：激活状态，当前可检索和使用的事实记忆。",
            "example": "activated"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "事实记忆的置信度分数，范围 0~1，数值越接近 1 表示该事实记忆越准确可靠。  \n置信度分数会随着模型对该事实记忆的推理次数增加而逐渐衰减，用于反映事实记忆随着时间或使用频率可能产生的不确定性。",
            "example": 0.95
          },
          "tags": {
            "type": "array",
            "description": "与事实记忆相关的标签列表，用于分类、检索或主题标记。数组中的每个元素都是string，例如 [\"人物\", \"事件\", \"工作\"]。",
            "items": {
              "type": "string"
            }
          },
          "update_time": {
            "type": "string",
            "description": "事实记忆最后一次被修改或更新的时间，通常为 ISO 8601 格式。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "查询内容与该事实记忆的相关性分数，范围 0~1，数值越接近 1 表示越相关。",
            "example": 0.87
          }
        }
      },
      "PreferenceDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "偏好记忆的唯一标识符，系统内部用于区分不同的记忆条目。"
          },
          "preference_type": {
            "type": "string",
            "enum": [
              "explicit_preference",
              "implicit_preference"
            ],
            "description": "偏好记忆类型。  \nexplicit_preference：显式偏好记忆。  \nimplicit_preference：隐式偏好记忆。",
            "example": "explicit_preference"
          },
          "preference": {
            "type": "string",
            "description": "偏好记忆的具体内容。"
          },
          "reasoning": {
            "type": "string",
            "description": "偏好记忆提取的原因。"
          },
          "create_time": {
            "type": "string",
            "description": "偏好记忆内容创建的时间，通常为 ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "description": "与该偏好记忆关联的会话的唯一标识符。"
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "description": "偏好记忆的状态，当前所有检索到的偏好记忆都是activated。  \nactivated：激活状态，当前可检索和使用的事实记忆。",
            "example": "activated"
          },
          "update_time": {
            "type": "string",
            "description": "偏好记忆最后一次被修改或更新的时间，通常为 ISO 8601 格式。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "查询内容与该偏好记忆的相关性分数，范围 0~1，数值越接近 1 表示越相关。",
            "example": 0.87
          }
        }
      },
      "ToolUsedStatus": {
        "type": "object",
        "properties": {
          "used_tool": {
            "type": "string",
            "description": "使用的工具名称。"
          },
          "error_type": {
            "type": "string",
            "description": "调用失败时的错误描述。"
          },
          "success_rate": {
            "type": "number",
            "description": "本次工具轨迹的成功率。"
          },
          "tool_experience": {
            "type": "string",
            "description": "当前轨迹中该工具的经验。"
          }
        }
      },
      "ToolMemoryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "工具记忆片段的唯一标识符。"
          },
          "tool_type": {
            "type": "string",
            "description": "工具记忆类型。ToolTrajectoryMemory 表示工具轨迹记忆；ToolSchema 表示工具信息记忆。",
            "enum": [
              "ToolTrajectoryMemory",
              "ToolSchema"
            ]
          },
          "tool_value": {
            "type": "string",
            "description": "工具记忆的具体内容。"
          },
          "tool_used_status": {
            "type": "array",
            "description": "工具轨迹记忆列表，每条记录包含使用的工具及经验信息。",
            "items": {
              "$ref": "#/components/schemas/ToolUsedStatus"
            }
          },
          "create_time": {
            "type": "string",
            "description": "工具记忆创建时间（ISO 8601 格式）。"
          },
          "conversation_id": {
            "type": "string",
            "description": "与该工具记忆关联的会话唯一标识符。"
          },
          "status": {
            "type": "string",
            "description": "工具记忆状态，当前为 activated。",
            "enum": [
              "activated"
            ]
          },
          "update_time": {
            "type": "string",
            "description": "工具记忆最后一次更新的时间（ISO 8601 格式）。"
          },
          "relativity": {
            "type": "number",
            "description": "工具记忆与查询内容的相关性分数。"
          },
          "experience": {
            "type": "string",
            "description": "整个轨迹的程序性经验，作为指导任务完成的总体经验。"
          }
        }
      },
      "SkillValue": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "技能 Skill 的名称，用于展示与识别该能力。"
          },
          "description": {
            "type": "string",
            "description": "技能 Skill 的描述。"
          },
          "procedure": {
            "type": "string",
            "description": "完成该任务的推荐流程或操作步骤。"
          },
          "experience": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "来自历史任务的经验沉淀，包括最佳实践、常见误区与避坑建议。"
          },
          "preference": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "用户在该类任务中的偏好设定，例如风格、约束条件或优先级。"
          },
          "examples": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "该技能 Skill 的典型使用示例，帮助 Agent 理解输入输出形式与使用边界。"
          },
          "script": {
            "type": "object",
            "description": "用于完成该 Skill 的可复用代码脚本或逻辑实现。"
          },
          "others": {
            "type": "object",
            "description": "其他补充信息。"
          }
        }
      },
      "SkillDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "技能 Skill 的唯一标识符，系统内部用于区分不同的记忆条目。"
          },
          "skill_value": {
            "type": "object",
            "description": "技能 Skill 的结构化内容，可直接转为字符串后注入 Agent 的 prompt。",
            "items": {
              "$ref": "#/components/schemas/SkillValue"
            }
          },
          "skill_url": {
            "type": "string",
            "description": "技能 Skill 的下载链接。Markdown Skill 可下载为 SKILL.md；ZIP 技能包可下载后获取 SKILL.md、脚本、参考资料等附件。"
          },
          "skill_type": {
            "type": "string",
            "description": "技能 Skill 的类型。"
          },
          "create_time": {
            "type": "string",
            "description": "技能 Skill 内容创建的时间，通常为 ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "description": "与该技能 Skill 关联的会话的唯一标识符。"
          },
          "status": {
            "type": "string",
            "description": "技能 Skill 的状态，当前所有检索到的技能 Skill 都是 activated。activated：激活状态，当前可检索和使用的技能 Skill 。",
            "enum": [
              "activated"
            ]
          },
          "confidence": {
            "type": "number",
            "description": "技能 Skill 的置信度分数，范围 0~1，数值越接近 1 表示该技能 Skill 越准确可靠。\n置信度分数会随着模型对该技能 Skill 的推理次数增加而逐渐衰减，用于反映技能 Skill 随着时间或使用频率可能产生的不确定性。"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "与技能 Skill 相关的标签列表，用于分类、检索或主题标记。数组中的每个元素都是string，例如 [\"人物\", \"事件\", \"工作\"]。"
          },
          "update_time": {
            "type": "string",
            "description": "技能 Skill 最后一次被修改或更新的时间，通常为 ISO 8601 格式"
          },
          "relativity": {
            "type": "string",
            "description": "查询内容与该技能 Skill 的相关性分数，范围 0~1，数值越接近 1 表示越相关。"
          }
        }
      },
      "SearchMemoryResponseData": {
        "type": "object",
        "properties": {
          "memory_detail_list": {
            "type": "array",
            "description": "返回的事实记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/MemoryDetail"
            }
          },
          "preference_detail_list": {
            "type": "array",
            "description": "返回的偏好记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/PreferenceDetail"
            }
          },
          "tool_memory_detail_list": {
            "type": "array",
            "description": "返回的工具记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/ToolMemoryDetail"
            }
          },
          "preference_note": {
            "type": "string",
            "description": "召回偏好记忆时，返回的偏好使用说明。"
          },
          "skill_detail_list": {
            "type": "array",
            "description": "返回的技能 Skill 详情列表。开启 include_skill 后返回，来源包括用户对话自动生成的 Skill 和知识库中上传的自定义 Skill。",
            "items": {
              "$ref": "#/components/schemas/SkillDetail"
            }
          }
        }
      },
      "SearchMemoryResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "接口状态码，更多内容可查阅[错误码列表](/api_docs/help/error_codes)了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/SearchMemoryResponseData"
          },
          "message": {
            "type": "string",
            "description": "接口提示信息。"
          }
        }
      },
      "GetMemoryRequest": {
        "type": "object",
        "required": [
          "user_id"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "获取的记忆所关联的用户唯一标识符。"
          },
          "page": {
            "type": "integer",
            "description": "分页页码，用于在返回结果较多时进行分页控制。",
            "default": 1
          },
          "size": {
            "type": "integer",
            "description": "指定每一类记忆在当前页返回的条目数量，最大值为50。",
            "default": 10
          },
          "filter": {
            "type": "object",
            "description": "记忆过滤的条件，用于在获取记忆前精确限定记忆范围。可用字段包括：\"agent_id\", \"app_id\", \"create_time\", \"update_time\"以及\"info\"中的字段。支持逻辑运算符（and，or）和比较运算符（gte、lte、gt、lt）。对于\"info\"字段，支持过滤传入的\"business_type\", \"biz_id\", \"scene\"和其他自定义字段。",
            "example": "{\"and\": [{\"create_time\":{\"gte\":\"...\"}}]}"
          },
          "include_preference": {
            "type": "boolean",
            "description": "是否要返回偏好记忆。",
            "default": true
          },
          "include_tool_memory": {
            "type": "boolean",
            "description": "是否要返回工具记忆。",
            "default": true
          }
        }
      },
      "GetMemoryResponseData": {
        "type": "object",
        "properties": {
          "memory_detail_list": {
            "type": "array",
            "description": "获取的事实记忆列表。",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "事实记忆的唯一标识符，系统内部用于区分不同的记忆条目。"
                },
                "memory_key": {
                  "type": "string",
                  "description": "事实记忆的标题或关键词，用于概括该事实记忆的主要内容。"
                },
                "memory_value": {
                  "type": "string",
                  "description": "事实记忆的具体内容。"
                },
                "memory_type": {
                  "type": "string",
                  "enum": [
                    "WorkingMemory",
                    "LongTermMemory",
                    "UserMemory"
                  ],
                  "description": "事实记忆类型。"
                },
                "create_time": {
                  "type": "string",
                  "description": "事实记忆创建时间，ISO 8601 格式。"
                },
                "conversation_id": {
                  "type": "string",
                  "description": "与该事实记忆关联的会话唯一标识符。"
                },
                "status": {
                  "type": "string",
                  "description": "事实记忆状态，当前仅返回激活状态。",
                  "enum": [
                    "activated"
                  ]
                },
                "confidence": {
                  "type": "number",
                  "description": "事实记忆的置信度分数，范围 0~1，数值越大表示越可靠；该值可能随时间或使用频率衰减。"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "与事实记忆相关的标签列表，用于分类或检索，例如 [\"人物\",\"事件\"]。"
                },
                "update_time": {
                  "type": "string",
                  "description": "事实记忆最后一次更新的时间，ISO 8601 格式。"
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description": "事实记忆的原始消息内容列表。"
                },
                "info": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "添加消息时自定义的元信息字段。"
                }
              }
            }
          },
          "preference_detail_list": {
            "type": "array",
            "description": "偏好记忆列表。",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "偏好记忆的唯一标识符。"
                },
                "preference_type": {
                  "type": "string",
                  "enum": [
                    "explicit_preference",
                    "implicit_preference"
                  ],
                  "description": "偏好记忆类型。"
                },
                "preference": {
                  "type": "string",
                  "description": "偏好记忆的具体内容描述。"
                },
                "reasoning": {
                  "type": "string",
                  "description": "该偏好记忆被提取或形成的原因说明。"
                },
                "create_time": {
                  "type": "string",
                  "description": "偏好记忆创建时间，ISO 8601 格式。"
                },
                "conversation_id": {
                  "type": "string",
                  "description": "与该偏好记忆关联的会话唯一标识符。"
                },
                "status": {
                  "type": "string",
                  "description": "偏好记忆状态，当前仅返回激活状态。",
                  "enum": [
                    "activated"
                  ]
                },
                "update_time": {
                  "type": "string",
                  "description": "偏好记忆最后一次更新的时间，ISO 8601 格式。"
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description": "偏好记忆的原始消息内容列表。"
                },
                "info": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "添加消息时自定义的元信息字段。"
                }
              }
            }
          },
          "tool_memory_detail_list": {
            "type": "array",
            "description": "返回的工具记忆片段详情列表。",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "工具记忆片段的唯一标识符。"
                },
                "tool_type": {
                  "type": "string",
                  "description": "工具记忆类型。ToolTrajectoryMemory 表示工具轨迹记忆；ToolSchema 表示工具信息记忆。",
                  "enum": [
                    "ToolTrajectoryMemory",
                    "ToolSchema"
                  ]
                },
                "tool_value": {
                  "type": "string",
                  "description": "工具记忆的具体内容。"
                },
                "tool_used_status": {
                  "type": "array",
                  "description": "工具轨迹记忆列表，每条记录包含使用的工具及经验信息。",
                  "items": {
                    "$ref": "#/components/schemas/ToolUsedStatus"
                  }
                },
                "create_time": {
                  "type": "string",
                  "description": "工具记忆创建时间（ISO 8601 格式）。"
                },
                "conversation_id": {
                  "type": "string",
                  "description": "与该工具记忆关联的会话唯一标识符。"
                },
                "status": {
                  "type": "string",
                  "description": "工具记忆状态，当前为 activated。",
                  "enum": [
                    "activated"
                  ]
                },
                "update_time": {
                  "type": "string",
                  "description": "工具记忆最后一次更新的时间（ISO 8601 格式）。"
                },
                "experience": {
                  "type": "string",
                  "description": "整个轨迹的程序性经验，作为指导任务完成的总体经验。"
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description": "工具记忆的原始消息内容列表。"
                },
                "info": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "添加消息时自定义的元信息字段。"
                }
              }
            }
          },
          "total": {
            "type": "integer",
            "description": "获取的各类记忆总数中的最大值，用于判断是否存在下一页。"
          },
          "size": {
            "type": "integer",
            "description": "每一类记忆在当前页返回的条目数量。"
          },
          "current": {
            "type": "integer",
            "description": "当前获取的记忆所在页数。"
          },
          "pages": {
            "type": "integer",
            "description": "获取记忆的总页数。"
          }
        }
      },
      "GetMemoryResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "number",
            "description": "接口状态码，更多内容可查阅错误码列表了解详情。"
          },
          "data": {
            "$ref": "#/components/schemas/GetMemoryResponseData"
          },
          "message": {
            "type": "string",
            "description": "接口提示信息。"
          }
        }
      },
      "DeleteMemoryRequest": {
        "type": "object",
        "properties": {
          "memory_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "需要删除的记忆 ID 列表。每个 ID 均来自 search/memory 或 get/memory 接口返回的 id 字段。"
          },
          "user_id": {
            "type": "string",
            "description": "删除用户的所有记忆，该用户关联的唯一ID标识符。"
          }
        }
      },
      "DeleteMemoryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "接口状态码，更多内容可查阅[错误码列表](/api_docs/help/error_codes)了解详情。"
          },
          "data": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean",
                "description": "是否删除成功。true 表示成功，false 表示失败。",
                "example": true
              }
            },
            "description": "返回删除信息"
          },
          "message": {
            "type": "string",
            "description": "删除提示信息"
          }
        }
      },
      "AddFeedbackRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "feedback_content"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "反馈内容所关联的用户唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "description": "反馈内容所关联的会话唯一标识符。"
          },
          "feedback_content": {
            "type": "string",
            "description": "反馈内容文本。"
          },
          "agent_id": {
            "type": "string",
            "description": "反馈内容所关联的Agent唯一标识符，主要用于在检索记忆时查询某用户与该Agent的专属记忆。"
          },
          "app_id": {
            "type": "string",
            "description": "反馈内容所关联的应用唯一标识符，主要用于在检索记忆时查询某用户在该App下的专属记忆。"
          },
          "feedback_time": {
            "type": "string",
            "description": "反馈发生的时间，可传入结构化时间或自然语言时间描述。传入该参数能够让记忆携带时间信息。"
          },
          "allow_public": {
            "type": "boolean",
            "description": "反馈内容，产生的记忆，是否允许写入公共记忆库。开启后，生成的记忆可被项目下的其他用户检索。 ",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "反馈内容产生的记忆，允许被写入的知识库列表。"
          }
        }
      },
      "AddFeedbackResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "接口状态码，更多内容可查阅[错误码列表](/api_docs/help/error_codes)了解详情。"
          },
          "data": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean",
                "description": "是否添加成功。true 表示成功，false 表示失败。"
              },
              "status": {
                "type": "string",
                "description": "任务状态：running（运行中），completed（完成）"
              },
              "task_id": {
                "type": "string",
                "description": "任务id"
              }
            }
          },
          "message": {
            "type": "string",
            "description": "接口提示信息"
          }
        }
      },
      "GetStatusRequest": {
        "type": "object",
        "required": [
          "task_id"
        ],
        "properties": {
          "task_id": {
            "type": "string",
            "description": "异步任务ID"
          }
        }
      },
      "GetStatusResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "接口状态码，更多内容可查阅[错误码列表](/api_docs/help/error_codes)了解详情。"
          },
          "data": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "running",
                  "completed",
                  "failed"
                ],
                "description": "记忆处理任务当前的状态。"
              }
            }
          },
          "message": {
            "type": "string",
            "description": "接口提示信息"
          }
        }
      },
      "CreateKnowledgebaseRequest": {
        "type": "object",
        "required": [
          "knowledgebase_name"
        ],
        "properties": {
          "knowledgebase_name": {
            "type": "string",
            "description": "知识库名称"
          },
          "knowledgebase_description": {
            "type": "string",
            "description": "描述信息"
          }
        }
      },
      "CreateKnowledgebaseResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "接口状态码，更多内容可查阅[错误码列表](/api_docs/help/error_codes)了解详情。"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "创建成功后返回的知识库 ID"
              }
            }
          },
          "message": {
            "type": "string",
            "description": "接口提示信息"
          }
        }
      },
      "DeleteKnowledgebaseRequest": {
        "type": "object",
        "required": [
          "knowledgebase_id"
        ],
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "description": "要移除的知识库ID"
          }
        }
      },
      "DeleteKnowledgebaseResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "接口状态码，更多内容可查阅[错误码列表](/api_docs/help/error_codes)了解详情。"
          },
          "data": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean",
                "description": "是否移除成功。true 表示成功，false 表示失败。"
              }
            }
          },
          "message": {
            "type": "string",
            "description": "接口提示信息"
          }
        }
      },
      "UploadFileRequest": {
        "type": "object",
        "required": [
          "knowledgebase_id",
          "file"
        ],
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "description": "目标知识库ID"
          },
          "file": {
            "type": "array",
            "description": "上传文件列表。普通文档按文档解析流程处理；Skill 文件按 Skill 校验和解析流程处理。",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "上传的文件名称。上传 Base64 内容时建议填写；上传 URL 时可不填。"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "document",
                    "skill"
                  ],
                  "default": "document",
                  "description": "上传文件类型。document 表示普通知识库文档；skill 表示 Skill 文件，支持 .md 单文件或 .zip 技能包。"
                },
                "content": {
                  "type": "string",
                  "description": "文件内容，支持 URL 或 Base64 编码。普通文档和 Skill 文件的支持格式、大小与数量限制，请查看[知识库要求](/memos_cloud/features/knowledge_base)。"
                }
              }
            }
          }
        }
      },
      "UploadFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "接口状态码，更多内容可查阅[错误码列表](/api_docs/help/error_codes)了解详情。"
          },
          "data": {
            "type": "array",
            "description": "上传文件的处理结果列表。",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "文件 ID"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "document",
                    "skill"
                  ],
                  "description": "文件类型。document 表示普通文档；skill 表示 Skill 文件。"
                },
                "name": {
                  "type": "string",
                  "description": "文件名称"
                },
                "sizeMB": {
                  "type": "number",
                  "description": "文件大小，单位 MB"
                },
                "status": {
                  "type": "string",
                  "description": "文件处理状态",
                  "enum": [
                    "running",
                    "completed",
                    "failed"
                  ]
                }
              }
            }
          },
          "message": {
            "type": "string",
            "description": "接口信息"
          }
        }
      },
      "GetFileRequest": {
        "type": "object",
        "description": "获取指定文件列表或指定知识库下的文件列表信息",
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "description": "目标知识库 ID，不能与 file_ids 同时传。"
          },
          "type": {
            "type": "string",
            "enum": [
              "document",
              "skill"
            ],
            "description": "文件类型筛选，仅在使用 knowledgebase_id 查询时生效。document 仅返回普通文档；skill 仅返回技能文件；不传则返回全部文件。"
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "分页页码，仅在使用 knowledgebase_id 查询时生效。",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "format": "int32",
            "description": "每页条数，仅在使用 knowledgebase_id 查询时生效。",
            "default": 20
          },
          "file_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "目标文件 ID 列表，传入后返回指定文件详情。"
          }
        }
      },
      "GetFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "接口状态码，更多内容可查阅[错误码列表](/api_docs/help/error_codes)了解详情。"
          },
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "format": "int32",
                "description": "符合条件的文件总数"
              },
              "page": {
                "type": "integer",
                "format": "int32",
                "description": "当前页码"
              },
              "page_size": {
                "type": "integer",
                "format": "int32",
                "description": "每页条数"
              },
              "file_detail_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "文件 ID"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "document",
                        "skill"
                      ],
                      "description": "文件类型。document 表示知识文档；skill 表示技能文件。"
                    },
                    "name": {
                      "type": "string",
                      "description": "文件名称"
                    },
                    "size": {
                      "type": "string",
                      "description": "文件大小"
                    },
                    "status": {
                      "type": "string",
                      "description": "文件处理状态",
                      "enum": [
                        "running",
                        "completed",
                        "failed"
                      ]
                    }
                  }
                }
              }
            }
          },
          "message": {
            "type": "string",
            "description": "接口提示信息"
          }
        }
      },
      "DeleteFileRequest": {
        "type": "object",
        "required": [
          "file_ids"
        ],
        "properties": {
          "file_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "要删除的文件 ID 列表。可传入普通文档 ID 或 Skill 文件 ID。"
          }
        }
      },
      "DeleteFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "接口状态码，更多内容可查阅[错误码列表](/api_docs/help/error_codes)了解详情。"
          },
          "data": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean",
                "description": "是否删除成功。true 表示成功，false 表示失败。"
              }
            }
          },
          "message": {
            "type": "string",
            "description": "接口提示信息"
          }
        }
      },
      "ExtractMemoryItem": {
        "type": "object",
        "properties": {
          "memory_key": {
            "type": "string",
            "description": "记忆主题，对抽取到的事实记忆的概括性描述。",
            "example": "用户基本信息"
          },
          "memory_value": {
            "type": "string",
            "description": "记忆内容，对抽取到的事实记忆的详细描述。",
            "example": "用户张三，28岁，在杭州从事后端开发，喜欢打羽毛球。"
          },
          "memory_type": {
            "type": "string",
            "description": "记忆类型分类标识。  \n示例：UserMemory、LongTermMemory。",
            "example": "UserMemory"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "记忆标签列表，用于对记忆内容进行分类标注。",
            "example": [
              "人物",
              "职业",
              "爱好"
            ]
          }
        }
      },
      "ExtractPreferenceItem": {
        "type": "object",
        "properties": {
          "preference": {
            "type": "string",
            "description": "偏好描述，对抽取到的用户偏好的具体内容。",
            "example": "用户明确表示希望回复尽量简洁。"
          },
          "reasoning": {
            "type": "string",
            "description": "推理依据，说明该偏好是如何从对话中推断得出的。",
            "example": "对话中用户直接说明偏好。"
          },
          "preference_type": {
            "type": "string",
            "description": "偏好类型：显性偏好为用户明确表达，隐性偏好为从行为或语境推断。",
            "enum": [
              "explicit_preference",
              "implicit_preference"
            ],
            "example": "explicit_preference"
          }
        }
      },
      "ExtractMemoryResponseData": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "是否抽取成功。"
          },
          "memory_detail_list": {
            "type": "array",
            "description": "事实记忆列表。当请求中 extraction_types 包含 memory，或未传 extraction_types 时返回。",
            "items": {
              "$ref": "#/components/schemas/ExtractMemoryItem"
            }
          },
          "preference_detail_list": {
            "type": "array",
            "description": "偏好记忆列表。当请求中 extraction_types 包含 preference，或未传 extraction_types 时返回；结果中可包含显性偏好与隐性偏好。",
            "items": {
              "$ref": "#/components/schemas/ExtractPreferenceItem"
            }
          }
        }
      },
      "ExtractMemoryMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "description": "消息创建者的角色。"
          },
          "content": {
            "type": "string",
[...]
