{
  "openapi": "3.1.0",
  "info": {
    "title": "MemOS Dashboard APIs",
    "description": "Dashboard API for managing messages and searching memories in MemOS.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://memos.memtensor.cn/api/openmem/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "paths": {
    "/add/message": {
      "post": {
        "summary": "Add Message",
        "description": "This API allows you to add one or more messages to a specific conversation. As illustrated in the examples bellow, you can add messages in real time during a user-assistant interaction, import historical messages in bulk, or enrich the conversation with user preferences and behavior data. All added messages are transformed into memories by MemOS, enabling their retrieval in future conversations to support chat history management, user behavior tracking, and personalized interactions.",
        "operationId": "add_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0610",
                "messages": [
                  {
                    "role": "user",
                    "content": "I want to travel during summer vacation, can you recommend something?"
                  },
                  {
                    "role": "assistant",
                    "content": "Sure! Are you traveling alone, with family or with friends?"
                  },
                  {
                    "role": "user",
                    "content": "I'm bringing my kid. My family always travels together."
                  },
                  {
                    "role": "assistant",
                    "content": "Got it, so you're traveling with your children as a family, right?"
                  },
                  {
                    "role": "user",
                    "content": "Yes, with both kids and elderly, we usually travel as a whole family."
                  },
                  {
                    "role": "assistant",
                    "content": "Understood, I'll recommend destinations suitable for family trips."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMessageResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n    \"user_id\": \"memos_user_123\",\n    \"conversation_id\": \"0610\",\n    \"messages\": [\n      {\"role\": \"user\", \"content\": \"I’ve planned to travel to Guangzhou this summer. What chain hotels are available for accommodation?\"},\n      {\"role\": \"assistant\", \"content\": \"You can consider options like 7 Days Inn, All Seasons, Hilton, etc.\"},\n      {\"role\": \"user\", \"content\": \"I’ll choose 7 Days Inn.\"},\n      {\"role\": \"assistant\", \"content\": \"Alright, feel free to ask me if you have any other questions.\"}\n    ]\n  }\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/add/message\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# Please ensure that MemOS has been installed (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# Initialize MemOS client with API Key to start sending requests\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nmessages = [\n  {\"role\": \"user\", \"content\": \"I’ve planned to travel to Guangzhou this summer. What chain hotels are available for accommodation?\"},\n  {\"role\": \"assistant\", \"content\": \"You can consider options like 7 Days Inn, All Seasons, Hilton, etc.\"},\n  {\"role\": \"user\", \"content\": \"I’ll choose 7 Days Inn.\"},\n  {\"role\": \"assistant\", \"content\": \"Alright, feel free to ask me if you have any other questions.\"}\n]\nuser_id = \"memos_user_123\"\nconversation_id = \"0610\"\n\nres = client.add_message(messages=messages, user_id=user_id, conversation_id=conversation_id)\n\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/add/message \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"user_id\": \"memos_user_123\",\n    \"conversation_id\": \"0610\",\n    \"messages\": [\n      {\"role\": \"user\", \"content\": \"I’ve planned to travel to Guangzhou this summer. What chain hotels are available for accommodation?\"},\n      {\"role\": \"assistant\", \"content\": \"You can consider options like 7 Days Inn, All Seasons, Hilton, etc.\"},\n      {\"role\": \"user\", \"content\": \"I’ll choose 7 Days Inn.\"},\n      {\"role\": \"assistant\", \"content\": \"Alright, feel free to ask me if you have any other questions.\"}\n    ]\n  }'"
          }
        ]
      }
    },
    "/get/message": {
      "post": {
        "summary": "Get Message",
        "description": "This API retrieves the historical conversation records between a user and the assistant for a specified session, with the option to limit the number of results. As shown in the examples bellow, you can use the returned recent messages as references for the model when generating responses, maintaining dialogue coherence and contextual understanding. It can also be used to restore chat context when a user refreshes or reopens the app, ensuring a seamless user experience and supporting personalized interactions.",
        "operationId": "get_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0928",
                "message_limit_number": 6
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"user_id\": \"memos_user_123\",\n  \"conversation_id\": \"0610\"\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/get/message\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/get/message \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"user_id\": \"memos_user_123\",\n    \"conversation_id\": \"0610\"\n  }'"
          }
        ]
      }
    },
    "/search/memory": {
      "post": {
        "summary": "Search Memory",
        "description": "This API queries a user’s memory and returns the fragments most relevant to the input for the Agent to use. Returned memory can include Fact Memory, Preference Memory, Tool Memory, and Skill. Skills can be auto-generated from user conversations or uploaded as custom Skill files in a Knowledge Base.",
        "operationId": "search_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchMemoryRequest"
              },
              "example": {
                "query": "Summarize my memories related to reading this year",
                "user_id": "memos_user_123",
                "conversation_id": "0928",
                "knowledgebase_ids": [
                  "kb_xxx"
                ],
                "filter": {
                  "knowledgebase": {
                    "and": [
                      {
                        "tags": {
                          "contains": "reading"
                        }
                      },
                      {
                        "create_time": {
                          "gte": "2025-01-01"
                        }
                      },
                      {
                        "create_time": {
                          "lte": "2025-12-31"
                        }
                      }
                    ]
                  },
                  "user": {
                    "and": [
                      {
                        "scene": "chat"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMemoryResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"query\": \"A user wants to return headphones purchased three days ago\",\n  \"user_id\": \"memos_user_123\",\n  \"conversation_id\": \"0928\",\n  \"knowledgebase_ids\": [\"kb_xxx\"],\n  \"include_skill\": True\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/search/memory\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# Make sure MemOS is installed (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# Initialize client with API Key\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nquery = \"A user wants to return headphones purchased three days ago\"\nuser_id = \"memos_user_123\"\nconversation_id = \"0928\"\n\nres = client.search_memory(query=query, user_id=user_id, conversation_id=conversation_id)\n\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/search/memory \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"query\": \"A user wants to return headphones purchased three days ago\",\n    \"user_id\": \"memos_user_123\",\n    \"conversation_id\": \"0928\",\n    \"knowledgebase_ids\": [\"kb_xxx\"],\n    \"include_skill\": true\n  }'"
          }
        ]
      }
    },
    "/chat": {
      "post": {
        "summary": "Chat",
        "description": "",
        "operationId": "chat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "stream": false,
                "query": "What fun places are in Shanghai?",
                "model_name": "deepseek-r1",
                "conversation_id": "23006762-a064-456e-a33b-d2452bdfa09f",
                "knowledgebase_ids": [
                  "2448808afa784cc5f7595da21ae5a3fd"
                ],
                "filter": {
                  "and": [
                    {
                      "create_time": {
                        "gt": "2025-09-19"
                      }
                    }
                  ]
                },
                "system_prompt": "Recommend parks",
                "add_message_on_answer": false,
                "allow_public": false,
                "allow_knowledgebase_ids": [],
                "agent_id": "agent_id_2025-12-15-01",
                "app_id": "app_id_2025-12-15-01",
                "tags": [],
                "info": {},
                "max_tokens": 8192,
                "temperature": 0.7,
                "top_p": 0.95
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatStreamResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"user_id\": \"memos_user_123\",\n  \"conversation_id\": \"memos_chat_conv\",\n  \"query\": \"Introduce MemOS to me\"\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/chat\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# Ensure MemoS is installed (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# Initialize client with API Key\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nuser_id = \"memos_user_123\"\nconversation_id = \"memos_chat_conv\"\nquery = \"Introduce MemOS to me\"\n\nres = client.chat(user_id=user_id,conversation_id=conversation_id,query=query)\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/chat \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"user_id\": \"memos_user_chat_123\",\n    \"conversation_id\": \"memos_chat_conv\",\n    \"query\": \"Introduce MemOS to me\"\n  }'"
          }
        ]
      }
    },
    "/get/memory": {
      "post": {
        "summary": "Get Memory",
        "description": "Retrieve a user’s memories, including factual, preference, and tool memories.",
        "operationId": "get_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMemoryResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"user_id\": \"memos_user_123\"\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/get/memory\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/get/memory \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"user_id\": \"memos_user_123\"\n  }'"
          }
        ]
      }
    },
    "/delete/memory": {
      "post": {
        "summary": "Delete Memory",
        "description": "This API is used to delete specified user memories, supporting batch deletion.",
        "operationId": "delete_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMemoryResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"memory_ids\": [\"6b23b583-f4c4-4a8f-b345-58d0c48fea04\"]  # Replace with real Memory ID\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/delete/memory\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# Ensure MemoS is installed (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# Initialize client with API Key\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nmemory_ids = [\"6b23b583-f4c4-4a8f-b345-58d0c48fea04\"] # Replace with real Memory ID\n\nres = client.delete_memory(memory_ids=memory_ids)\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/delete/memory \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"memory_ids\": [\"6b23b583-f4c4-4a8f-b345-58d0c48fea04\"]\n  }'"
          }
        ]
      }
    },
    "/add/feedback": {
      "post": {
        "summary": "Add Feedback",
        "description": "This API is used to add feedback to current session messages, allowing MemOS to correct memories based on user feedback.",
        "operationId": "add_feedback",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFeedbackResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"user_id\": \"memos_user_123\",\n  \"conversation_id\": \"memos_feedback_conv\",\n  \"feedback_content\": \"No, we are changing the meal allowance for tier-1 cities to 150 yuan/day and accommodation allowance to 700 yuan/day; tier-2 and tier-3 cities remain unchanged.\",\n  \"allow_knowledgebase_ids\":[\"basee5ec9050-c964-484f-abf1-ce3e8e2aa5b7\"] # Replace with Knowledge Base ID\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/add/feedback\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# Ensure MemoS is installed (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# Initialize client with API Key\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nuser_id = \"memos_user_123\"\nconversation_id = \"memos_feedback_conv\"\nfeedback_content = \"No, we are changing the meal allowance for tier-1 cities to 150 yuan/day and accommodation allowance to 700 yuan/day; tier-2 and tier-3 cities remain unchanged.\"\nallow_knowledgebase_ids = [\"basee5ec9050-c964-484f-abf1-ce3e8e2aa5b7\"] # Replace with Knowledge Base ID\n\nres = client.add_feedback(\n    user_id=user_id,\n    conversation_id=conversation_id,\n    feedback_content=feedback_content,\n    allow_knowledgebase_ids=allow_knowledgebase_ids\n)\n\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/add/feedback \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"user_id\": \"memos_user_123\",\n    \"conversation_id\": \"memos_feedback_conv\",\n    \"feedback_content\": \"No, we are changing the meal allowance for tier-1 cities to 150 yuan/day and accommodation allowance to 700 yuan/day; tier-2 and tier-3 cities remain unchanged.\",\n    \"allow_knowledgebase_ids\":[\"basee5ec9050-c964-484f-abf1-ce3e8e2aa5b7\"]\n  }'"
          }
        ]
      }
    },
    "/extract/memory": {
      "post": {
        "summary": "Extract Memory",
        "description": "Uses MemOS’s self-developed extraction model to extract and return fact and preference memories directly from conversation messages.",
        "operationId": "extract_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractMemoryRequest"
              },
              "example": {
                "messages": [
                  {
                    "role": "user",
                    "content": "I’ve planned a summer trip to Guangzhou. What chain hotels can you recommend for accommodation?"
                  },
                  {
                    "role": "assistant",
                    "content": "You can consider options like 7 Days Inn, All Seasons, Hilton, and others."
                  },
                  {
                    "role": "user",
                    "content": "I’ll go with 7 Days Inn."
                  },
                  {
                    "role": "assistant",
                    "content": "Alright—ask me anytime if you have more questions."
                  }
                ],
                "extraction_types": [
                  "memory",
                  "preference"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractMemoryResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n    \"messages\": [\n        {\"role\": \"user\", \"content\": \"I’ve booked a summer trip to Guangzhou. What chain hotels can you recommend for accommodation?\"},\n        {\"role\": \"assistant\", \"content\": \"You can consider options like 7 Days Inn, All Seasons, Hilton, and others.\"},\n        {\"role\": \"user\", \"content\": \"I’ll go with 7 Days Inn.\"},\n        {\"role\": \"assistant\", \"content\": \"Alright—ask me anytime if you have more questions.\"}\n    ],\n    \"extraction_types\": [\"memory\", \"preference\"]\n}\nheaders = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/extract/memory\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/extract/memory \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"messages\": [\n      {\"role\": \"user\", \"content\": \"I booked a summer trip to Guangzhou. What chain hotels can you recommend for accommodation?\"},\n      {\"role\": \"assistant\", \"content\": \"You can consider options like 7 Days Inn, All Seasons, Hilton, and others.\"},\n      {\"role\": \"user\", \"content\": \"I will go with 7 Days Inn.\"},\n      {\"role\": \"assistant\", \"content\": \"Alright—ask me anytime if you have more questions.\"}\n    ],\n    \"extraction_types\": [\"memory\", \"preference\"]\n  }'"
          }
        ]
      }
    },
    "/rerank": {
      "post": {
        "summary": "Rerank Memory",
        "description": "Provides a memory reranking API based on the memos-reranker small model. It takes a user query and a list of candidate memories and completes memory relevance reranking with a single call.",
        "operationId": "rerank",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerankRequest"
              },
              "example": {
                "model": "memos-reranker-0.6b",
                "query": "What are the user's hobbies?",
                "documents": [
                  "User likes playing badminton.",
                  "User is a backend developer in Hangzhou.",
                  "User prefers concise replies.",
                  "User prefers Jiangxiang-flavored baijiu.",
                  "User is going on a business trip to Beijing next Wednesday."
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\nurl = f\"{os.environ['MEMOS_BASE_URL']}/rerank\"\n\npayload = {\n    \"model\": \"memos-reranker-0.6b\",\n    \"query\": \"What are the user's hobbies?\",\n    \"documents\": [\n        \"User likes playing badminton\",\n        \"User is a backend developer in Hangzhou\",\n        \"User prefers concise replies\",\n        \"User prefers Jiangxiang-flavored baijiu\",\n        \"User is going on a business trip to Beijing next Wednesday\"\n    ]\n}\n\nheaders = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\n\nresponse = requests.post(url, headers=headers, data=json.dumps(payload))\nprint(response.json())"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/rerank \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"model\": \"memos-reranker-0.6b\",\n    \"query\": \"What are the user'\\''s hobbies?\",\n    \"documents\": [\n        \"User likes playing badminton\",\n        \"User is a backend developer in Hangzhou\",\n        \"User prefers concise replies\",\n        \"User prefers Jiangxiang-flavored baijiu\",\n        \"User is going on a business trip to Beijing next Wednesday\"\n    ]\n}'"
          }
        ]
      }
    },
    "/get/status": {
      "post": {
        "summary": "Get Task Status",
        "description": "Get the status of an asynchronous processing task.",
        "operationId": "get_status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStatusResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"task_id\": \"40aae834-4248-4944-b2bb-a674f37a2fdb\" # Replace with the Task ID to query\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/get/status\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/get/status \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"task_id\": \"40aae834-4248-4944-b2bb-a674f37a2fdb\"\n  }'"
          }
        ]
      }
    },
    "/create/knowledgebase": {
      "post": {
        "summary": "Create Knowledgebase",
        "description": "Create a knowledgebase associated with the project.",
        "operationId": "create_knowledgebase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgebaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKnowledgebaseResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"knowledgebase_name\": \"Financial Reimbursement Knowledge Base\",\n  \"knowledgebase_description\": \"A compilation of all knowledge related to financial reimbursement in the company.\"\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/create/knowledgebase\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# Ensure MemoS is installed (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# Initialize client with API Key\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nknowledgebase_name = \"Financial Reimbursement Knowledge Base\"\nknowledgebase_description = \"A compilation of all knowledge related to financial reimbursement in the company.\"\n\nres = client.create_knowledgebase(\n    knowledgebase_name=knowledgebase_name,\n    knowledgebase_description=knowledgebase_description\n)\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/create/knowledgebase \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"knowledgebase_name\": \"Financial Reimbursement Knowledge Base\",\n    \"knowledgebase_description\": \"A compilation of all knowledge related to financial reimbursement in the company.\"\n  }'"
          }
        ]
      }
    },
    "/delete/knowledgebase": {
      "post": {
        "summary": "Delete Knowledgebase",
        "description": "Delete a knowledgebase from the current project. To permanently delete it, please operate from the Console - Knowledgebase page.",
        "operationId": "delete_knowledgebase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteKnowledgebaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteKnowledgebaseResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n    \"knowledgebase_id\": \"basee5ec9050-c964-484f-abf1-ce3e8e2aa5b7\" # Replace with the Knowledge Base ID to delete\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/delete/knowledgebase\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# Ensure MemoS is installed (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# Initialize client with API Key\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nknowledgebase_id = \"basee5ec9050-c964-484f-abf1-ce3e8e2aa5b7\" # Replace with the Knowledge Base ID to delete\n\nres = client.delete_knowledgebase(knowledgebase_id=knowledgebase_id)\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/delete/knowledgebase \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"knowledgebase_id\": \"basee5ec9050-c964-484f-abf1-ce3e8e2aa5b7\"\n  }'"
          }
        ]
      }
    },
    "/add/knowledgebase-file": {
      "post": {
        "summary": "Create Knowledgebase File",
        "description": "Upload files to a specified Knowledge Base. By default, files are uploaded as documents. When file[].type is skill, upload a Markdown Skill file or ZIP Skill package.",
        "operationId": "add_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Upload Document",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"knowledgebase_id\": \"basec32f88c6-9dd3-4061-82c8-f0fa0e85a284\",  # Replace with the Knowledge Base ID to upload documents to\n  \"file\": [\n    {\"content\": \"https://cdn.memtensor.com.cn/file/出差报销额度说明.docx\"}\n  ]\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/add/knowledgebase-file\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Upload Skill",
            "source": "import os\nimport requests\nimport json\nimport base64\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\nskill_markdown = \"\"\"---\nname: Customer Return SOP\ndescription: Guide customer support agents through a standard return request workflow.\n---\n\n## Procedure\n\n1. Confirm the user's identity and order number\n2. Check whether the return reason meets the policy\n3. Guide the user to choose pickup or self-shipping\n4. Generate the return request number and inform the user\n5. Track logistics and notify the user after the refund is completed\n\n## Experience\n\n- Standard products can be returned within 7 days after delivery\n- Fresh goods do not support returns and should use after-sales compensation\n- High-value products over 500 CNY require supervisor approval\n\"\"\"\n\nencoded_skill = base64.b64encode(skill_markdown.encode(\"utf-8\")).decode(\"utf-8\")\n\ndata = {\n  \"knowledgebase_id\": \"kb_xxx\",  # Replace with the Knowledge Base ID to upload the Skill to\n  \"file\": [\n    {\n      \"type\": \"skill\",\n      \"name\": \"customer-return-sop.md\",\n      \"content\": f\"data:text/markdown;base64,{encoded_skill}\"\n    }\n  ]\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/add/knowledgebase-file\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# Make sure MemOS is installed (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# Initialize client with API Key\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nknowledgebase_id = \"basec32f88c6-9dd3-4061-82c8-f0fa0e85a284\"  # Replace with the Knowledge Base ID\nfile = [\n  {\n    \"content\": \"https://cdn.memtensor.com.cn/file/出差报销额度说明.docx\"\n  }\n]\n\nres = client.add_knowledgebase_file(knowledgebase_id=knowledgebase_id, file=file)\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl Skill URL",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/add/knowledgebase-file \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"knowledgebase_id\": \"basec32f88c6-9dd3-4061-82c8-f0fa0e85a284\",\n    \"file\": [\n      {\n        \"type\": \"skill\",\n        \"content\": \"https://cdn.memtensor.com.cn/file/SKILL.md\"\n      }\n    ]\n  }'"
          }
        ]
      }
    },
    "/get/knowledgebase-file": {
      "post": {
        "summary": "Get Knowledgebase File",
        "description": "Get file information in one of two ways: pass file_ids to retrieve specific file details, or pass knowledgebase_id to list files under a Knowledge Base. Choose only one mode; passing both knowledgebase_id and file_ids returns an error.",
        "operationId": "get_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "By Knowledge Base",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"knowledgebase_id\": \"kb_xxx\",  # List files under this Knowledge Base\n  \"type\": \"skill\",               # Optional: document / skill\n  \"page\": 1,\n  \"page_size\": 20\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/get/knowledgebase-file\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "By File ID",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"file_ids\": [\"file_xxx\"]  # Retrieve details for specified files\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/get/knowledgebase-file\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# Make sure MemOS is installed (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# Initialize client with API Key\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nfile_ids = [\"file_xxx\"]  # Retrieve details for specified files\n\nres = client.get_knowledgebase_file(file_ids=file_ids)\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/get/knowledgebase-file \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"knowledgebase_id\": \"kb_xxx\",\n    \"type\": \"skill\",\n    \"page\": 1,\n    \"page_size\": 20\n  }'"
          }
        ]
      }
    },
    "/delete/knowledgebase-file": {
      "post": {
        "summary": "Delete Knowledgebase File",
        "description": "Delete files from a specified Knowledge Base. When a Skill file is deleted, the associated Skill is deleted as well.",
        "operationId": "delete_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (HTTP)",
            "source": "import os\nimport requests\nimport json\n\n# Replace with your API Key\nos.environ[\"MEMOS_API_KEY\"] = \"YOUR_API_KEY\"\nos.environ[\"MEMOS_BASE_URL\"] = \"https://memos.memtensor.cn/api/openmem/v1\"\n\ndata = {\n  \"file_ids\": [\"3711d404c51592c4eebae46900236f50\"] # Replace with Knowledge Base File ID\n}\nheaders = {\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": f\"Token {os.environ['MEMOS_API_KEY']}\"\n}\nurl = f\"{os.environ['MEMOS_BASE_URL']}/delete/knowledgebase-file\"\n\nres = requests.post(url=url, headers=headers, data=json.dumps(data))\n\nprint(f\"result: {res.json()}\")"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "# Ensure MemoS is installed (pip install MemoryOS -U)\nfrom memos.api.client import MemOSClient\n\n# Initialize client with API Key\nclient = MemOSClient(api_key=\"YOUR_API_KEY\")\n\nfile_ids = [\"3711d404c51592c4eebae46900236f50\"] # Replace with Knowledge Base File ID\n\nres = client.delete_knowledgebase_file(file_ids=file_ids)\n\nprint(f\"result: {res}\")"
          },
          {
            "lang": "bash",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://memos.memtensor.cn/api/openmem/v1/delete/knowledgebase-file \\\n  --header 'Authorization: Token YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"file_ids\": [\"3711d404c51592c4eebae46900236f50\"]\n  }'"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Token API_key, available in [API Console > API Keys](https://memos-dashboard.openmem.net/apikeys/)"
      }
    },
    "schemas": {
      "ChatRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Unique identifier of the user associated with the conversation."
          },
          "conversation_id": {
            "type": "string",
            "description": "Unique identifier of the conversation. Providing this clarifies the current session, prioritizing its memory over historical sessions. If omitted, cross-session memory retrieval is performed for more relevant responses."
          },
          "query": {
            "type": "string",
            "description": "User input content."
          },
          "filter": {
            "type": "object",
            "description": "Filter conditions, used to precisely limit the memory scope before retrieval. Available fields include: \"agent_id\", \"app_id\", \"create_time\", \"update_time\", and specific fields in \"info\". Supports logical operators (and, or) and comparison operators (gte, lte, gt, lt). For the \"info\" field, supports filtering by \"business_type\", \"biz_id\", \"scene\", and other custom fields.",
            "example": "{\"and\": [{\"create_time\":{\"gte\":\"...\"}}]}"
          },
          "knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Specifies the scope of Knowledge Bases accessible for the current search. Defaults to empty, meaning no Knowledge Bases are searched. Pass specific Knowledge Base IDs to search ordinary documents and uploaded Skills in those Knowledge Bases; pass \"all\" to search across all associated Knowledge Bases within the project."
          },
          "memory_limit_number": {
            "type": "integer",
            "description": "Maximum number of memories that can be recalled: as long as the relevance threshold (relativity) is met, up to this many memories may be returned. Default is 9, maximum is 25.",
            "default": 9
          },
          "include_preference": {
            "type": "boolean",
            "description": "Whether to recall preference memories. When enabled, the system intelligently recalls memories related to user preferences based on the query. Default = true.",
            "default": true
          },
          "preference_limit_number": {
            "type": "integer",
            "description": "Maximum number of preferred memories that can be recalled: as long as the relevance threshold (relativity) is met, up to this many preference memories may be returned. Default is 9, maximum is 25.",
            "default": 9
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Relevance threshold (0–1) for recalled memories. Filters out low-relevance memories and, together with the maximum counts for factual and preferred recalls, constrains the final results. When omitted, the system default threshold is used. A value of 0 disables relevance filtering.",
            "default": 0.45
          },
          "model_name": {
            "type": "string",
            "enum": [
              "qwen3-32b",
              "deepseek-r1",
              "qwen2.5-72b-instruct"
            ],
            "description": "Specifies the concrete conversation model.",
            "default": "qwen2.5-72b-instruct"
          },
          "system_prompt": {
            "type": "string",
            "description": "Custom system instructions."
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to enable streaming response.",
            "default": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "Indicates the maximum number of generated tokens.",
            "default": 8192
          },
          "temperature": {
            "type": "number",
            "description": "Controls generation randomness. Range: 0 ≤ x ≤ 2.",
            "default": 0.7
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus sampling parameter. Range: 0 ≤ x ≤ 1.",
            "default": 0.95
          },
          "add_message_on_answer": {
            "type": "boolean",
            "description": "Whether to automatically write user and assistant conversation content into memory. When enabled, developers do not need to call the add/message API to add messages as memory.",
            "default": true
          },
          "app_id": {
            "type": "string",
            "description": "Unique identifier of the application associated with the conversation."
          },
          "agent_id": {
            "type": "string",
            "description": "Unique identifier of the Agent associated with the conversation."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of custom tags used to mark the topic or category of the conversation."
          },
          "info": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom metadata field capable of storing any structured data related to the conversation, such as location, source, version, etc., primarily for precise filtering or source tracking during retrieval."
          },
          "allow_public": {
            "type": "boolean",
            "description": "Whether to allow adding to public memory.",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of knowledgebases where memories generated from added messages are allowed to be written."
          }
        }
      },
      "ChatResponseData": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "Specific content of the answer."
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "API status code. See [Error Code List](/api_docs/help/error_codes) for details."
          },
          "data": {
            "$ref": "#/components/schemas/ChatResponseData"
          },
          "message": {
            "type": "string",
            "description": "Message"
          }
        }
      },
      "ChatStreamResponse": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "description": "Stream event name, currently defaults to message.",
            "default": "message"
          },
          "data": {
            "type": "object",
            "description": "Streamed data content.",
            "properties": {
              "type": {
                "type": "string",
                "description": "Stream message type, used to identify the semantic category of the current data.  \nreasoning: Reasoning content  \ntext: Normal text content  \nend: End of stream indicator",
                "enum": [
                  "reasoning",
                  "text",
                  "end"
                ]
              },
              "data": {
                "type": "string",
                "description": "Streamed text content."
              }
            }
          }
        }
      },
      "AddMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "messages"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Unique identifier of the user associated with the message."
          },
          "conversation_id": {
            "type": "string",
            "description": "Unique identifier of the conversation."
          },
          "messages": {
            "type": "array",
            "description": "Array of message objects representing the memory content. The total token limit for the message array is 40k. Each object contains:",
            "items": {
              "$ref": "#/components/schemas/MessageInput"
            }
          },
          "agent_id": {
            "type": "string",
            "description": "Unique identifier of the Agent associated with the added message, primarily used to query exclusive memories between a user and that Agent during retrieval."
          },
          "app_id": {
            "type": "string",
            "description": "Unique identifier of the App associated with the added message, primarily used to query exclusive memories of a user under that App during retrieval."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of custom tags used to mark the topic or category of the added message.",
            "default": []
          },
          "info": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "Custom metadata field capable of storing any structured data related to the added message, such as location, source, version, etc., primarily for precise filtering or source tracking during retrieval."
          },
          "allow_public": {
            "type": "boolean",
            "description": "Whether memories generated from the added message are allowed to be written to the public memory store. When enabled, generated memories can be retrieved by other users in the project.",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scope of knowledgebases where memories generated from the added message are allowed to be written.",
            "default": []
          },
          "async_mode": {
            "type": "boolean",
            "description": "Whether to enable asynchronous memory addition. When enabled, memory will be added asynchronously in the background to avoid blocking the call chain.",
            "default": true
          }
        }
      },
      "MessageInput": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "chat_time": {
            "type": "string",
            "description": "Time of the conversation, as a structured timestamp or Chinese text. Providing this parameter allows memory to include time information."
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "tool"
            ],
            "description": "Sender role."
          },
          "content": {
            "description": "Content of the message.",
            "oneOf": [
              {
                "type": "string",
                "description": "Message text content"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "image_url",
                        "file"
                      ],
                      "description": "Type of the message sent"
                    },
                    "text": {
                      "type": "string",
                      "description": "Text message content. Required when type is text."
                    },
                    "image_url": {
                      "type": "object",
                      "description": "Image message content object.",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Image message URL. Required when type is image_url."
                        }
                      }
                    },
                    "file": {
                      "type": "object",
                      "description": "File message content object.",
                      "properties": {
                        "file_data": {
                          "type": "string",
                          "description": "Accessible file URL or base64. Supports txt / pdf / doc / docx / json / md / xml. Single file max 100MB, 500 pages, total max 20 files. Required when type is file."
                        }
                      }
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                "description": "List of multi-modal content"
              }
            ]
          },
          "tool_call_id": {
            "type": "string",
            "description": "Unique identifier for the tool call message when role is tool."
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier for the tool call, used to associate with this tool call. Required in tool_calls."
                },
                "type": {
                  "type": "string",
                  "description": "Tool call type, currently only supports function. Required in tool_calls.",
                  "enum": [
                    "function"
                  ]
                },
                "function": {
                  "type": "object",
                  "description": "Defined tool to be called. Required in tool_calls.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Tool (function) name. Required in tool_calls."
                    },
                    "arguments": {
                      "type": "string",
                      "description": "Tool call arguments, must be a JSON formatted string. Required in tool_calls."
                    }
                  }
                }
              }
            },
            "description": "List of tool call information when role is assistant, used to pass when triggering tool calls."
          }
        }
      },
      "AddMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "API status code. See [Error Code](https://memos-dashboard.openmem.net/apikeys/) for details",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/OpenMemAddMessageResponse"
          },
          "message": {
            "type": "string",
            "description": "API response message, e.g., \"Message added successfully\".",
            "example": "ok"
          }
        }
      },
      "OpenMemAddMessageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the message was added successfully. true = success, false = failure.",
            "example": true
          },
          "task_id": {
            "type": "string",
            "description": "Unique identifier of the memory processing task."
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "completed",
              "failed"
            ],
            "description": "Current status of the memory processing task."
          }
        },
        "description": "Object representing the result of adding the message."
      },
      "GetMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Unique identifier of the user associated with the messages being retrieved."
          },
          "conversation_id": {
            "type": "string",
            "description": "Unique identifier of the conversation associated with the messages."
          },
          "message_limit_number": {
            "type": "integer",
            "format": "int32",
            "description": "Limits the number of messages returned, controlling the length of the message list. Defaults to 6 if not provided. The maximum allowed value is 50.",
            "default": 6
          }
        }
      },
      "GetMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "API status code. See [Error Code](https://memos-dashboard.openmem.net/apikeys/) for details.",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/GetMessageResponseData"
          },
          "message": {
            "type": "string",
            "description": "API response message."
          }
        }
      },
      "GetMessageResponseData": {
        "type": "object",
        "properties": {
          "message_detail_list": {
            "type": "array",
            "description": "List of retrieved message details. Each item includes:",
            "items": {
              "$ref": "#/components/schemas/MessageDetail"
            }
          }
        },
        "description": "Object containing the retrieved messages."
      },
      "MessageDetail": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "description": "Role of the message sender.",
            "example": "user"
          },
          "content": {
            "type": "string",
            "description": "Text content of the message."
          },
          "create_time": {
            "type": "string",
            "description": "Creation time of the message."
          },
          "update_time": {
            "type": "string",
            "description": "Last update time of the message."
          }
        },
        "description": "List of retrieved message details. Each item includes:"
      },
      "SearchMemoryRequest": {
        "type": "object",
        "required": [
          "user_id",
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Unique identifier of the user associated with the memory being queried."
          },
          "conversation_id": {
            "type": "string",
            "description": "Unique identifier of the conversation containing the memory. Providing this ensures the current conversation’s memories have higher priority over other historical."
          },
          "query": {
            "type": "string",
            "description": "Text content to search within the memories.The token limit for a single query is 4k."
          },
          "filter": {
            "type": "object",
            "description": "Memory filter conditions used to narrow candidate memories before semantic recall. You can use `and` / `or` at the root for global filtering, or filter by source under `user`, `public`, and `knowledgebase`. For complete fields and examples, see [Memory Filters](/memos_cloud/features/filters).",
            "properties": {
              "and": {
                "type": "array",
                "description": "Global AND condition array. Candidate memories enter semantic recall only when all conditions are satisfied. Common fields include `agent_id`, `app_id`, `tags.contains`, `create_time`, `update_time`, and custom fields from `info`.",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "or": {
                "type": "array",
                "description": "Global OR condition array. Candidate memories enter semantic recall when any condition is satisfied.",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "user": {
                "type": "object",
                "description": "Filter conditions for user personal memories.",
                "properties": {
                  "and": {
                    "type": "array",
                    "description": "AND condition array for user memories.",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "or": {
                    "type": "array",
                    "description": "OR condition array for user memories.",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              },
              "public": {
                "type": "object",
                "description": "Filter conditions for project-level public memories.",
                "properties": {
                  "and": {
                    "type": "array",
                    "description": "AND condition array for public memories.",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "or": {
                    "type": "array",
                    "description": "OR condition array for public memories.",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              },
              "knowledgebase": {
                "type": "object",
                "description": "Filter conditions for knowledge base memories. Only applies within the knowledge base scope allowed by `knowledgebase_ids`.",
                "properties": {
                  "and": {
                    "type": "array",
                    "description": "AND condition array for knowledge base memories.",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "or": {
                    "type": "array",
                    "description": "OR condition array for knowledge base memories.",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Specifies the scope of knowledge bases accessible for the current search. Defaults to empty, meaning no knowledge bases are searched.Pass specific Knowledgebase IDs to search within that designated repository; pass \"all\" to search across all associated knowledgebases within the project."
          },
          "memory_limit_number": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of memories that can be recalled: as long as the relevance threshold (relativity) is met, up to this many memories may be returned. Default is 9, maximum is 25.",
            "default": 9
          },
          "include_preference": {
            "type": "boolean",
            "description": "Whether to enable preference memory recall. When enabled, the system will intelligently retrieve the user’s preference memories based on the query. Defaults to true if not provided.",
            "default": true
          },
          "preference_limit_number": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of preference memories that can be recalled: as long as the relevance threshold (relativity) is met, up to this many preferred memories may be returned. Default is 9, maximum is 25.",
            "default": 9
          },
          "include_tool_memory": {
            "type": "boolean",
            "description": "Whether to enable tool memory recall. When enabled, the system will intelligently retrieve tool-related memories based on the query. Default is false if not provided.",
            "default": false
          },
          "tool_memory_limit_number": {
            "type": "integer",
            "format": "int32",
            "description": "Limits the number of tool memory items returned, controlling the count of recalled tool memories. Effective only when include_tool_memory=true. Default is 6 if not provided, max is 25.",
            "default": 6
          },
          "include_skill": {
            "type": "boolean",
            "description": "Whether to enable Skill recall. When enabled, the system recalls relevant Skills based on the query, including personalized Skills auto-generated from user conversations and custom Skills uploaded within the knowledgebase_ids scope. Default is disabled if not provided."
          },
          "skill_limit_number": {
            "type": "integer",
            "format": "int32",
            "description": "Limits the number of returned Skills, controlling the count of recalled skills. Effective only when `include_skill=true`. Default is 6 if not provided, max is 25."
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Relevance threshold (0–1) for recalled memories. Filters out low-relevance memories and, together with the maximum counts for factual and preferred recalls, constrains the final results. When omitted, the system default threshold is used. A value of 0 disables relevance filtering.",
            "default": 0.45
          }
        }
      },
      "SearchMemoryResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "API status code. See [Error Code](/api_docs/help/error_codes) for details.",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/SearchMemoryResponseData"
          },
          "message": {
            "type": "string",
            "description": "API response message."
          }
        }
      },
      "SearchMemoryResponseData": {
        "type": "object",
        "properties": {
          "memory_detail_list": {
            "type": "array",
            "description": "List of memory fragment details returned. Each item includes:",
            "items": {
              "$ref": "#/components/schemas/MemoryDetail"
            }
          },
          "preference_detail_list": {
            "type": "array",
            "description": "List of preference memory details returned. Each item includes:",
            "items": {
              "$ref": "#/components/schemas/PreferenceDetail"
            }
          },
          "tool_memory_detail_list": {
            "type": "array",
            "description": "List of tool memory fragment details returned.",
            "items": {
              "$ref": "#/components/schemas/ToolMemoryDetail"
            }
          },
          "preference_note": {
            "type": "string",
            "description": "Preference memory usage note when it is retrieved."
          },
          "skill_detail_list": {
            "type": "array",
            "description": "List of Skill details returned when include_skill is enabled. Sources include Skills auto-generated from user conversations and custom Skills uploaded to Knowledge Bases.",
            "items": {
              "$ref": "#/components/schemas/SkillDetail"
            }
          }
        },
        "description": "Object containing the query result."
      },
      "MemoryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of fact memory, used internally by the system."
          },
          "memory_key": {
            "type": "string",
            "description": "Title or keyword summarizing fact memory."
          },
          "memory_value": {
            "type": "string",
            "description": "Detailed content of fact memory."
          },
          "memory_type": {
            "type": "string",
            "enum": [
              "WorkingMemory",
              "LongTermMemory",
              "UserMemory"
            ],
            "description": "WorkingMemory: short-term working memory, temporarily stored.  \nLongTermMemory: long-term memory, important information or facts stored persistently.  \nUserMemory: user-specific memory, personalized information related to a specific user.",
            "example": "LongTermMemory"
          },
          "create_time": {
            "type": "string",
            "description": "Creation time of fact memory, usually in ISO 8601 format."
          },
          "conversation_id": {
            "type": "string",
            "description": "Unique identifier of the conversation associated with fact memory."
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "description": "Fact memory status. All retrieved fact memories are currently activated.  \nactivated: active fact memory, available for retrieval and use.",
            "example": "activated"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score of fact memory, ranging from 0 to 1. Values closer to 1 indicate higher reliability.   \nThe score may gradually decay over time or with repeated model reasoning to reflect uncertainty.",
            "example": 0.95
          },
          "tags": {
            "type": "array",
            "description": "List of tags associated with fact memory for categorization or retrieval. Each element is a string, e.g., [\"person\", \"event\", \"work\"].",
            "items": {
              "type": "string"
            }
          },
          "update_time": {
            "type": "string",
            "description": "Last modification or update time of fact memory, usually in ISO 8601 format."
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Relevance score of fact memory to the query, ranging from 0 to 1. Higher values indicate stronger relevance.",
            "example": 0.87
          }
        },
        "description": "List of memory fragment details returned. Each item includes:"
      },
      "PreferenceDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of preference memory, used internally by the system."
          },
          "preference": {
            "type": "string",
            "description": "Detailed content of preference memory."
          },
          "preference_type": {
            "type": "string",
            "enum": [
              "explicit_preference",
              "implicit_preference"
            ],
            "description": "explicit_preference: Explicit preference memory.  \nimplicit_preference: Implicit preference memory.",
            "example": "explicit_preference"
          },
          "reasoning": {
            "type": "string",
            "description": "The reason why preference memory was extracted."
          },
          "create_time": {
            "type": "string",
            "description": "Creation time of preference memory, usually in ISO 8601 format."
          },
          "conversation_id": {
            "type": "string",
            "description": "Unique identifier of the conversation associated with preference memory."
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "description": "Preference memory status. All retrieved preference memories are currently activated.  \nactivated: active preference memory, available for retrieval and use.",
            "example": "activated"
          },
          "update_time": {
            "type": "string",
            "description": "Last modification or update time of preference memory, usually in ISO 8601 format."
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Relevance score of preference memory to the query, ranging from 0 to 1. Higher values indicate stronger relevance.",
            "example": 0.87
          }
        }
      },
      "ToolUsedStatus": {
        "type": "object",
        "properties": {
          "used_tool": {
            "type": "string",
            "description": "Name of the tool used."
          },
          "error_type": {
            "type": "string",
            "description": "Error description when call fails."
          },
          "success_rate": {
            "type": "number",
            "description": "Success rate of this tool trajectory."
          },
          "tool_experience": {
            "type": "string",
            "description": "Experience with this tool in the current trajectory."
          }
        }
      },
      "ToolMemoryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the tool memory fragment."
          },
          "tool_type": {
            "type": "string",
            "description": "Tool memory type. ToolTrajectoryMemory: tool trajectory memory; ToolSchema: tool info memory.",
            "enum": [
              "ToolTrajectoryMemory",
              "ToolSchema"
            ]
          },
          "tool_value": {
            "type": "string",
            "description": "Specific content of the tool memory."
          },
          "tool_used_status": {
            "type": "array",
            "description": "List of tool trajectory memories, each record contains tool used and experience info.",
            "items": {
              "$ref": "#/components/schemas/ToolUsedStatus"
            }
          },
          "create_time": {
            "type": "string",
            "description": "Tool memory creation time (ISO 8601 format)."
          },
          "conversation_id": {
            "type": "string",
            "description": "Unique identifier of the conversation associated with the tool memory."
          },
          "status": {
            "type": "string",
            "description": "Tool memory status, currently activated.",
            "enum": [
              "activated"
            ]
          },
          "update_time": {
            "type": "string",
            "description": "Last update time of the tool memory (ISO 8601 format)."
          },
          "relativity": {
            "type": "number",
            "description": "Relevance score of the tool memory to the query content."
          },
          "experience": {
            "type": "string",
            "description": "Procedural experience of the entire trajectory, serving as overall guidance for task completion."
          }
        }
      },
      "SkillValue": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the Skill, used for display and identification of the capability."
          },
          "description": {
            "type": "string",
            "description": "The description of the Skill."
          },
          "procedure": {
            "type": "string",
            "description": "Recommended procedures or operational steps to complete the task."
          },
          "experience": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Experience accumulated from historical tasks, including best practices, common pitfalls, and avoidance suggestions."
          },
          "preference": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User preference settings for this type of task, such as style, constraints, or priorities."
          },
          "examples": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Typical usage examples of the Skill, helping the Agent understand input/output formats and usage boundaries."
          },
          "script": {
            "type": "object",
            "description": "Reusable code scripts or logic implementations used to complete the Skill."
          },
          "others": {
            "type": "object",
            "description": "Other supplementary information."
          }
        }
      },
      "SkillDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the Skill, used internally by the system to distinguish different memory entries."
          },
          "skill_value": {
            "type": "object",
            "description": "Structured Skill content. You can convert it to a string and inject it into the Agent prompt.",
            "items": {
              "$ref": "#/components/schemas/SkillValue"
            }
          },
          "skill_url": {
            "type": "string",
            "description": "Download link for the Skill. A Markdown Skill can be downloaded as SKILL.md; a ZIP Skill package can include SKILL.md, scripts, references, assets, and other attachments."
          },
          "skill_type": {
            "type": "string",
            "description": "The type of the Skill."
          },
          "create_time": {
            "type": "string",
            "description": "The creation time of the Skill content, usually in ISO 8601 format."
          },
          "conversation_id": {
            "type": "string",
            "description": "The unique identifier of the conversation associated with the Skill."
          },
          "status": {
            "type": "string",
            "description": "The status of the Skill. Currently, all retrieved Skills are 'activated'. activated: Active status, the Skill is currently retrievable and usable.",
            "enum": [
              "activated"
            ]
          },
          "confidence": {
            "type": "number",
            "description": "The confidence score of the Skill, ranging from 0 to 1. A value closer to 1 indicates the Skill is more accurate and reliable.\nThe confidence score gradually decays as the model infers this Skill more times, reflecting the uncertainty that may arise over time or usage frequency."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of tags associated with the Skill, used for classification, retrieval, or topic marking. Each element in the array is a string, e.g., [\"Person\", \"Event\", \"Work\"]."
          },
          "update_time": {
            "type": "string",
            "description": "The time when the Skill was last modified or updated, usually in ISO 8601 format."
          },
          "relativity": {
            "type": "string",
            "description": "The relevance score between the query content and the Skill, ranging from 0 to 1. A value closer to 1 indicates higher relevance."
          }
        }
      },
      "GetMemoryRequest": {
        "type": "object",
        "required": [
          "user_id"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Unique identifier of the user whose memories are being retrieved."
          },
          "page": {
            "type": "integer",
            "description": "Page number for pagination when many results are returned.",
            "default": 1
          },
          "size": {
            "type": "integer",
            "description": "Number of entries returned per memory category on the current page, up to 50.",
            "default": 10
          },
          "filter": {
            "type": "object",
            "description": "Filter conditions, used to precisely limit the memory scope before retrieval. Available fields include: \"agent_id\", \"app_id\", \"create_time\", \"update_time\", and specific fields in \"info\". Supports logical operators (and, or) and comparison operators (gte, lte, gt, lt). For the \"info\" field, supports filtering by \"business_type\", \"biz_id\", \"scene\", and other custom fields.",
            "example": "{\"and\": [{\"create_time\":{\"gte\":\"...\"}}]}"
          },
          "include_preference": {
            "type": "boolean",
            "description": "Whether preference memories should be included.",
            "default": true
          },
          "include_tool_memory": {
            "type": "boolean",
            "description": "Whether tool memories should be included.",
            "default": true
          }
        }
      },
      "GetMemoryResponseData": {
        "type": "object",
        "properties": {
          "memory_detail_list": {
            "type": "array",
            "description": "Returned factual memories.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of a factual memory entry."
                },
                "memory_key": {
                  "type": "string",
                  "description": "Title or keyword summarizing the factual memory."
                },
                "memory_value": {
                  "type": "string",
                  "description": "Content of the factual memory."
                },
                "memory_type": {
                  "type": "string",
                  "enum": [
                    "WorkingMemory",
                    "LongTermMemory",
                    "UserMemory"
                  ],
                  "description": "Type of factual memory."
                },
                "create_time": {
                  "type": "string",
                  "description": "Creation time in ISO 8601 format."
                },
                "conversation_id": {
                  "type": "string",
                  "description": "Conversation identifier linked to this memory."
                },
                "status": {
                  "type": "string",
                  "description": "Current status, only activated is returned."
                },
                "confidence": {
                  "type": "number",
                  "description": "Confidence score between 0 and 1; higher means more reliable."
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Tag list for classification or retrieval."
                },
                "update_time": {
                  "type": "string",
                  "description": "Last update time in ISO 8601 format."
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description": "Source message objects associated with the memory."
                },
                "info": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Custom metadata provided when adding the message."
                }
              }
            }
          },
          "preference_detail_list": {
            "type": "array",
            "description": "Returned preference memories.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the preference memory."
                },
                "preference_type": {
                  "type": "string",
                  "enum": [
                    "explicit_preference",
                    "implicit_preference"
                  ],
                  "description": "Preference memory type."
                },
                "preference": {
                  "type": "string",
                  "description": "Description of the preference."
                },
                "reasoning": {
                  "type": "string",
                  "description": "Reasoning for extracting or deriving the preference."
                },
                "create_time": {
                  "type": "string",
                  "description": "Creation time in ISO 8601 format."
                },
                "conversation_id": {
                  "type": "string",
                  "description": "Conversation identifier linked to this preference."
                },
                "status": {
                  "type": "string",
                  "description": "Current status, only activated is returned."
                },
                "update_time": {
                  "type": "string",
                  "description": "Last update time in ISO 8601 format."
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description": "Source messages associated with the preference."
                },
                "info": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Custom metadata provided when adding the message."
                }
              }
            }
          },
          "tool_memory_detail_list": {
            "type": "array",
            "description": "List of tool memory fragment details returned.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the tool memory fragment."
                },
                "tool_type": {
                  "type": "string",
                  "description": "Tool memory type. ToolTrajectoryMemory: tool trajectory memory; ToolSchema: tool info memory.",
                  "enum": [
                    "ToolTrajectoryMemory",
                    "ToolSchema"
                  ]
                },
                "tool_value": {
                  "type": "string",
                  "description": "Specific content of the tool memory."
                },
                "tool_used_status": {
                  "type": "array",
                  "description": "List of tool trajectory memories, each record contains tool used and experience info.",
                  "items": {
                    "$ref": "#/components/schemas/ToolUsedStatus"
                  }
                },
                "create_time": {
                  "type": "string",
                  "description": "Tool memory creation time (ISO 8601 format)."
                },
                "conversation_id": {
                  "type": "string",
                  "description": "Unique identifier of the conversation associated with the tool memory."
                },
                "status": {
                  "type": "string",
                  "description": "Tool memory status, currently activated.",
                  "enum": [
                    "activated"
                  ]
                },
                "update_time": {
                  "type": "string",
                  "description": "Last update time of the tool memory (ISO 8601 format)."
                },
                "experience": {
                  "type": "string",
                  "description": "Procedural experience of the entire trajectory, serving as overall guidance for task completion."
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description": "List of original message content associated with the tool memory."
                },
                "info": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Custom metadata provided when adding the message."
                }
              }
            }
          },
          "total": {
            "type": "integer",
            "description": "Maximum count across memory types, used to check if another page exists."
          },
          "size": {
            "type": "integer",
[...]
