{
  "openapi": "3.1.0",
  "info": {
    "title": "MemOS Dashboard APIs",
    "description": "Dashboard API for managing messages and searching memories in MemOS.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://memos.memtensor.cn/api/openmem/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "paths": {
    "/add/message": {
      "post": {
        "summary": "添加消息",
        "description": "该接口用于向指定会话添加一条或多条消息。如本章的使用示例所示，您既可以在用户与助手的对话进行时实时写入，也可批量导入已有的历史记录，或补充用户的偏好和行为信息。所有添加的消息内容都会被 MemOS 转化为记忆，用于后续对话的召回与参考，从而支持对话历史管理、用户行为记录以及个性化交互。",
        "operationId": "add_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0610",
                "messages": [
                  {"role": "user", "content": "我想暑假出去玩，你能帮我推荐下吗？"},
                  {"role": "assistant", "content": "好的！是自己出行还是和家人朋友一起呢？"},
                  {"role": "user", "content": "肯定要带孩子啊，我们家出门都是全家一起。"},
                  {"role": "assistant", "content": "明白了，所以你们是父母带孩子一块儿旅行，对吗？"},
                  {"role": "user", "content": "对，带上孩子和老人，一般都是全家行动。"},
                  {"role": "assistant", "content": "收到，那我会帮你推荐适合家庭出游的目的地。"}
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/message": {
      "post": {
        "summary": "获取消息",
        "description": "该接口用于获取指定会话的用户与助手历史对话记录，可按数量限制返回结果。如本章示例所示，您可以将返回的最近消息作为大模型生成回答的参考，以保持对话的连贯性和上下文理解；同时，也可在用户刷新或重新打开应用时恢复聊天上下文，确保用户体验连续一致，并为个性化交互提供支持。",
        "operationId": "get_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0928",
                "message_limit_number": 6
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/memory": {
      "post": {
        "summary": "查询记忆",
        "description": "该接口用于查询指定用户的记忆，返回与输入查询内容最相关的记忆片段。您可以调用这些记忆片段作为参考，供大模型生成回答时使用。如本章示例所示，您可以在用户与 AI 对话过程中实时检索用户记忆，也可以对用户整体记忆进行全局检索，用于生成用户画像或支持个性化推荐，从而提升对话的连贯性与用户的个性化体验。",
        "operationId": "search_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchMemoryRequest"
              },
              "example": {
                "query": "国庆去哪玩",
                "user_id": "memos_user_123",
                "conversation_id": "0928"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMemoryResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Token API_key，可在 <a href=\"https://memos-dashboard.openmem.net/apikeys/\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\" target=\"_blank\">API 控制台>接口密钥</a> 中查看"
      }
    },
    "schemas": {
      "AddMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "messages"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "与添加消息关联的用户的唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与添加消息关联的会话的唯一标识符。"
          },
          "messages": {
            "type": "array",
            "title": "Messages",
            "description": "表示内存内容的消息对象数组。",
            "items": {
              "$ref": "#/components/schemas/MessageInput"
            }
          }
        },
        "title": "AddMessageRequest"
      },
      "MessageInput": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "title": "Role",
            "description": "消息发送者的角色。"
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "消息内容文本。"
          },
          "chat_time": {
            "type": "string",
            "title": "Chat Time",
            "description": "对话发生的时间，可传入结构化时间或中文时间描述。传入该参数能够让记忆携带时间信息。"
          }
        },
        "title": "MessageInput"
      },
      "AddMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/dashboard/api/error_code\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/OpenMemAddMessageResponse"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息，如 \"消息添加成功\"。",
            "example": "ok"
          }
        },
        "title": "AddMessageResponse"
      },
      "OpenMemAddMessageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "description": "是否添加成功。true 表示成功，false 表示失败。",
            "example": true
          }
        },
        "title": "OpenMemAddMessageResponse"
      },
      "GetMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "与获取消息关联的用户的唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与获取消息关联的会话的唯一标识符。"
          },
          "message_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Message Limit Number",
            "description": "限定返回的消息条数，用于控制消息列表的长度，不传时使用系统默认值 6。",
            "default": 6
          }
        },
        "title": "GetMessageRequest"
      },
      "GetMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/dashboard/api/error_code\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/GetMessageResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息。"
          }
        },
        "title": "GetMessageResponse"
      },
      "GetMessageResponseData": {
        "type": "object",
        "properties": {
          "message_detail_list": {
            "type": "array",
            "title": "Message Detail List",
            "description": "消息添加结果对象。",
            "items": {
              "$ref": "#/components/schemas/MessageDetail"
            }
          }
        },
        "title": "GetMessageResponseData"
      },
      "MessageDetail": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "title": "Role",
            "description": "消息发送者的角色。",
            "example": "user"
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "消息内容文本。"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "消息创建时间。"
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "消息最近一次更新时间。"
          }
        },
        "title": "MessageDetail"
      },
      "SearchMemoryRequest": {
        "type": "object",
        "required": [
          "user_id",
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "与查询的记忆关联的用户的唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "查询内容所在会话的唯一标识符，传入可以明确当前会话，本会话的记忆应当比其他历史会话的权重高。"
          },
          "query": {
            "type": "string",
            "title": "Query",
            "description": "要在记忆中查询的文本内容"
          },
          "memory_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Memory Limit Number",
            "description": "限定返回的记忆条数，用于控制记忆片段的长度，不传时使用系统默认值 6。",
            "default": 6
          }
        },
        "title": "SearchMemoryRequest"
      },
      "SearchMemoryResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/dashboard/api/error_code\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/SearchMemoryResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息。"
          }
        },
        "title": "SearchMemoryResponse"
      },
      "SearchMemoryResponseData": {
        "type": "object",
        "title": "SearchMemoryResponseData",
        "properties": {
          "memory_detail_list": {
            "type": "array",
            "title": "Memory Detail List",
            "description": "返回的记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/MemoryDetail"
            }
          }
        }
      },
      "MemoryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "记忆的唯一标识符，系统内部用于区分不同的记忆条目。"
          },
          "memory_key": {
            "type": "string",
            "title": "Memory Key",
            "description": "记忆的标题或关键词，用于概括该记忆的主要内容。"
          },
          "memory_value": {
            "type": "string",
            "title": "Memory Value",
            "description": "记忆的具体内容。"
          },
          "memory_type": {
            "type": "string",
            "enum": [
              "WorkingMemory",
              "LongTermMemory",
              "UserMemory"
            ],
            "title": "Memory Type",
            "description": "WorkingMemory：工作记忆，临时存储的短期信息。<br>LongTermMemory：长期记忆，持久保存的重要信息或事实。<br>UserMemory：用户记忆，与特定用户相关的个性化信息。",
            "example": "LongTermMemory"
          },
          "memory_time": {
            "type": "string",
            "title": "Memory Time",
            "description": "记忆内容创建的时间，通常为 ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该记忆关联的会话的唯一标识符。"
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "title": "Status",
            "description": "记忆的状态，当前所有检索到的记忆都是 activated",
            "example": "activated"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Confidence",
            "description": "记忆的置信度分数，范围 0~1，数值越接近 1 表示该记忆越准确可靠。置信度分数会随着模型对该记忆的推理次数增加而逐渐衰减，用于反映记忆随着时间或使用频率可能产生的不确定性。",
            "example": 0.95
          },
          "tags": {
            "type": "array",
            "title": "Tags",
            "description": "与记忆相关的标签列表，用于分类、检索或主题标记。数组中的每个元素都是string，例如 [\"人物\", \"事件\", \"工作\"]。",
            "items": {
              "type": "string"
            }
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "记忆最后一次被修改或更新的时间，通常为 ISO 8601 格式。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "查询内容与该记忆的相关性分数，范围 0~1，数值越接近 1 表示越相关。",
            "example": 0.87
          }
        },
        "title": "MemoryDetail"
      },
      "title": "SearchMemoryResponseData",
      "description": "消息添加结果对象。"
    }
  }
}
