{
  "openapi": "3.1.0",
  "info": {
    "title": "MemOS Dashboard APIs",
    "description": "Dashboard API for managing messages and searching memories in MemOS.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://memos.memtensor.cn/api/openmem/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "paths": {
    "/add/message": {
      "post": {
        "summary": "添加消息",
        "description": "该接口用于向指定会话添加一条或多条消息。如本章的使用示例所示，您既可以在用户与助手的对话进行时实时写入，也可批量导入已有的历史记录，或补充用户的偏好和行为信息。所有添加的消息内容都会被 MemOS 转化为记忆，用于后续对话的召回与参考，从而支持对话历史管理、用户行为记录以及个性化交互。",
        "operationId": "add_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0610",
                "messages": [
                  {
                    "role": "user",
                    "content": "我想暑假出去玩，你能帮我推荐下吗？"
                  },
                  {
                    "role": "assistant",
                    "content": "好的！是自己出行还是和家人朋友一起呢？"
                  },
                  {
                    "role": "user",
                    "content": "肯定要带孩子啊，我们家出门都是全家一起。"
                  },
                  {
                    "role": "assistant",
                    "content": "明白了，所以你们是父母带孩子一块儿旅行，对吗？"
                  },
                  {
                    "role": "user",
                    "content": "对，带上孩子和老人，一般都是全家行动。"
                  },
                  {
                    "role": "assistant",
                    "content": "收到，那我会帮你推荐适合家庭出游的目的地。"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/message": {
      "post": {
        "summary": "获取消息",
        "description": "该接口用于获取指定会话的用户与助手历史对话记录，可按数量限制返回结果。如本章示例所示，您可以将返回的最近消息作为大模型生成回答的参考，以保持对话的连贯性和上下文理解；同时，也可在用户刷新或重新打开应用时恢复聊天上下文，确保用户体验连续一致，并为个性化交互提供支持。",
        "operationId": "get_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0928",
                "message_limit_number": 6
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/memory": {
      "post": {
        "summary": "查询记忆",
        "description": "该接口用于查询指定用户的记忆，返回与输入查询内容最相关的记忆片段。您可以调用这些记忆片段作为参考，供大模型生成回答时使用。如本章示例所示，您可以在用户与 AI 对话过程中实时检索用户记忆，也可以对用户整体记忆进行全局检索，用于生成用户画像或支持个性化推荐，从而提升对话的连贯性与用户的个性化体验。<br><br>在最近的更新中，召回的记忆片段除了原有的“事实记忆”，新增了对“偏好记忆”的支持，使模型回答时“更懂用户”。",
        "operationId": "search_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchMemoryRequest"
              },
              "example": {
                "query": "我国庆想出去玩，帮我推荐个没去过的城市，以及没住过的酒店品牌",
                "user_id": "memos_user_123",
                "conversation_id": "0928"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMemoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chat": {
      "post": {
        "summary": "对话",
        "description": "",
        "operationId": "chat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              },
              "example": {
                "user_id": "memos_user_2025-12-15-01",
                "stream": false,
                "query": "上海有哪些好玩的",
                "model_name": "deepseek-r1",
                "conversation_id": "23006762-a064-456e-a33b-d2452bdfa09f",
                "knowledgebase_ids": [
                  "2448808afa784cc5f7595da21ae5a3fd"
                ],
                "filter": {
                  "and": [
                    {
                      "create_time": {
                        "gt": "2025-09-19"
                      }
                    }
                  ]
                },
                "system_prompt": "推荐公园",
                "add_message_on_answer": false,
                "allow_public": false,
                "allow_knowledgebase_ids": [],
                "agent_id": "agent_id_2025-12-15-01",
                "app_id": "app_id_2025-12-15-01",
                "tags": [],
                "info": {},
                "max_tokens": 8192,
                "temperature": 0.7,
                "top_p": 0.95
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/memory": {
      "post": {
        "summary": "删除记忆",
        "description": "",
        "operationId": "delete_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMemoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add/feedback": {
      "post": {
        "summary": "添加反馈",
        "description": "",
        "operationId": "add_feedback",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFeedbackResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/status": {
      "post": {
        "summary": "获取任务状态",
        "description": "",
        "operationId": "get_status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/create/knowledgebase": {
      "post": {
        "summary": "创建知识库",
        "description": "",
        "operationId": "create_knowledgebase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgebaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKnowledgebaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/knowledgebase": {
      "post": {
        "summary": "删除知识库",
        "description": "",
        "operationId": "delete_knowledgebase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteKnowledgebaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteKnowledgebaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add/knowledgebase-file": {
      "post": {
        "summary": "上传文件",
        "description": "",
        "operationId": "upload_file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/knowledgebase-file": {
      "post": {
        "summary": "获取文件",
        "description": "",
        "operationId": "get_file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/knowledgebase-file": {
      "post": {
        "summary": "删除文件",
        "description": "",
        "operationId": "delete_file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Token API_key，可在 <a href=\"https://memos-dashboard.openmem.net/apikeys/\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\" target=\"_blank\">API 控制台>接口密钥</a> 中查看"
      }
    },
    "schemas": {
      "ChatRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "用户唯一标识"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "会话ID，用于多轮对话上下文"
          },
          "query": {
            "type": "string",
            "title": "Query",
            "description": "用户输入的对话内容"
          },
          "knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Knowledgebase IDs",
            "description": "选定可以检索的知识库范围"
          },
          "filter": {
            "type": "object",
            "title": "Filter",
            "description": "过滤条件",
            "example": "{\"and\": [{\"create_time\": ...}]}"
          },
          "system_prompt": {
            "type": "string",
            "title": "System Prompt",
            "description": "自定义系统指令"
          },
          "stream": {
            "type": "boolean",
            "title": "Stream",
            "description": "是否流式返回 (true/false) 默认false(非流式返回)",
            "default": false
          },
          "model_name": {
            "type": "string",
            "enum": [
              "Qwen3-32B",
              "deepseek-r1",
              "Qwen2.5-72B-Instruct"
            ],
            "title": "Model Name",
            "description": "模型名称",
            "default": "Qwen2.5-72B-Instruct"
          },
          "memory_limit_number": {
            "type": "integer",
            "title": "Memory Limit Number",
            "description": "限定返回的事实记忆条数，用于控制召回的事实记忆个数。默认值： 6，最大值：25。",
            "default": 6
          },
          "allow_public": {
            "type": "boolean",
            "title": "Allow Public",
            "description": "是否允许加入公共记忆",
            "default": false
          },
          "include_preference": {
            "type": "boolean",
            "title": "Include Preference",
            "description": "是否要召回偏好记忆，开启后系统会根据查询内容智能召回与用户偏好相关的记忆。默认 =true",
            "default": true
          },
          "max_tokens": {
            "type": "integer",
            "title": "Max Tokens",
            "description": "表示最大生成 token 数",
            "default": 8192
          },
          "temperature": {
            "type": "number",
            "title": "Temperature",
            "description": "控制生成随机性。取值范围：0 <= x <= 2",
            "default": 0.7
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Tags",
            "description": "自定义标签列表，用于标记对话内容的主题或分类"
          },
          "info": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "title": "Info",
            "description": "自定义元信息字段，能够存储任意与对话内容相关的结构化数据，例如位置、来源、版本等，主要用于在检索时精确过滤或追踪来源"
          },
          "app_id": {
            "type": "string",
            "title": "App ID",
            "description": "对话内容所关联的应用唯一标识符"
          },
          "agent_id": {
            "type": "string",
            "title": "Agent ID",
            "description": "对话内容所关联的 Agent 唯一标识符"
          },
          "top_p": {
            "type": "number",
            "title": "Top P",
            "description": "Nucleus 采样参数。取值范围：0 <= x <= 1",
            "default": 0.95
          },
          "preference_limit_number": {
            "type": "integer",
            "title": "Preference Limit Number",
            "description": "限定返回的偏好记忆条数，用于控制召回的偏好记忆个数，仅在include_preference=true 时生效 默认值： 6，最大值：25",
            "default": 6
          },
          "add_message_on_answer": {
            "type": "boolean",
            "title": "Add Message On Answer",
            "description": "是否自动将用户与助手的会话内容写入记忆。启用后，开发者无需再调用add/message接口添加消息为记忆",
            "default": true
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Allow Knowledgebase IDs",
            "description": "添加的消息，产生的记忆允许被写入的知识库列表。为空表示不允许写入任何知识库，仅可写入指定的知识库 ID"
          }
        },
        "title": "ChatRequest"
      },
      "ChatResponseData": {
        "type": "object",
        "title": "ChatResponseData",
        "properties": {
          "response": {
            "type": "string",
            "title": "Response",
            "description": "返回具体chat信息"
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "$ref": "#/components/schemas/ChatResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "提示信息"
          }
        },
        "title": "ChatResponse"
      },
      "MessageInput": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "tool"
            ],
            "title": "Role",
            "description": "消息发送者的角色。"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "纯文本内容"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "image_url",
                        "file"
                      ],
                      "description": "多模态类型"
                    },
                    "text": {
                      "type": "string",
                      "description": "纯文本内容"
                    },
                    "image_url": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "file": {
                      "type": "object",
                      "properties": {
                        "file_data": {
                          "type": "string",
                          "description": "文件数据(base64/url)"
                        }
                      }
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                "description": "多模态内容列表"
              }
            ],
            "description": "消息内容文本。"
          },
          "chat_time": {
            "type": "string",
            "title": "Chat Time",
            "description": "对话发生的时间，可传入结构化时间或中文时间描述。传入该参数能够让记忆携带时间信息。"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "function"
                  ]
                },
                "function": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "arguments": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "arguments"
                  ]
                }
              },
              "required": [
                "id",
                "type",
                "function"
              ]
            },
            "description": "工具调用列表"
          },
          "tool_call_id": {
            "type": "string",
            "description": "与某一次 tool 调用关联的 ID"
          }
        },
        "title": "MessageInput"
      },
      "AddMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "messages"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "与添加消息关联的用户的唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与添加消息关联的会话的唯一标识符。"
          },
          "messages": {
            "type": "array",
            "title": "Messages",
            "description": "表示内存内容的消息对象数组。数组中所有消息的总token数上限为8k。",
            "items": {
              "$ref": "#/components/schemas/MessageInput"
            }
          },
          "agent_id": {
            "type": "string",
            "description": "对话内容所关联的 Agent 唯一标识符",
            "default": ""
          },
          "app_id": {
            "type": "string",
            "description": "对话内容所关联的应用唯一标识符",
            "default": ""
          },
          "info": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "额外信息配置",
            "default": null
          },
          "allow_public": {
            "type": "boolean",
            "description": "是否允许写入“公共知识库”",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "允许写入的特定知识库ID",
            "default": []
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "用户自定义标签",
            "default": []
          },
          "async_mode": {
            "type": "boolean",
            "description": "是否异步处理",
            "default": true
          }
        },
        "title": "AddMessageRequest"
      },
      "OpenMemAddMessageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "description": "是否添加成功。true 表示成功，false 表示失败。",
            "example": true
          }
        },
        "title": "OpenMemAddMessageResponse"
      },
      "AddMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/OpenMemAddMessageResponse"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息，如 \"消息添加成功\"。",
            "example": "ok"
          }
        },
        "title": "AddMessageResponse"
      },
      "GetMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "与获取消息关联的用户的唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与获取消息关联的会话的唯一标识符。"
          },
          "message_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Message Limit Number",
            "description": "限定返回的消息条数，用于控制消息列表的长度，不传时使用系统默认值6，最大值为50",
            "default": 6
          }
        },
        "title": "GetMessageRequest"
      },
      "MessageDetail": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "title": "Role",
            "description": "消息发送者的角色。",
            "example": "user"
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "消息内容文本。"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "消息创建时间。"
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "消息最近一次更新时间。"
          }
        },
        "title": "MessageDetail"
      },
      "GetMessageResponseData": {
        "type": "object",
        "properties": {
          "message_detail_list": {
            "type": "array",
            "title": "Message Detail List",
            "description": "消息添加结果对象。",
            "items": {
              "$ref": "#/components/schemas/MessageDetail"
            }
          }
        },
        "title": "GetMessageResponseData"
      },
      "GetMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/GetMessageResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息。"
          }
        },
        "title": "GetMessageResponse"
      },
      "SearchMemoryRequest": {
        "type": "object",
        "required": [
          "user_id",
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "与查询的记忆关联的用户的唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "查询内容所在会话的唯一标识符，传入可以明确当前会话，本会话的记忆应当比其他历史会话的权重高。"
          },
          "query": {
            "type": "string",
            "title": "Query",
            "description": "要在记忆中查询的文本内容，单次查询文本的token上限为4k。"
          },
          "memory_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Memory Limit Number",
            "description": "限定返回的事实记忆条数，用于控制事实记忆片段的长度，不传时使用系统默认值6，最大值为25。",
            "default": 6
          },
          "include_preference": {
            "type": "boolean",
            "title": "Include Preference",
            "description": "是否启用偏好记忆召回。开启后，将根据查询的内容智能召回用户的偏好记忆。不传时该功能默认开启。",
            "default": true
          },
          "preference_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Preference Limit Number",
            "description": "限定返回的偏好记忆条数，用于控制偏好记忆片段的长度，不传时使用系统默认值6，最大值为25。",
            "default": 6
          },
          "knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "指定搜索的知识库范围，默认空"
          }
        },
        "title": "SearchMemoryRequest"
      },
      "MemoryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "事实记忆的唯一标识符，系统内部用于区分不同的记忆条目。"
          },
          "memory_key": {
            "type": "string",
            "title": "Memory Key",
            "description": "事实记忆的标题或关键词，用于概括该事实记忆的主要内容。"
          },
          "memory_value": {
            "type": "string",
            "title": "Memory Value",
            "description": "事实记忆的具体内容。"
          },
          "memory_type": {
            "type": "string",
            "enum": [
              "WorkingMemory",
              "LongTermMemory",
              "UserMemory"
            ],
            "title": "Memory Type",
            "description": "WorkingMemory：工作记忆，临时存储的短期信息。<br>LongTermMemory：长期记忆，持久保存的重要信息或事实。<br>UserMemory：用户记忆，与特定用户相关的个性化信息。",
            "example": "LongTermMemory"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "事实记忆内容创建的时间，通常为 ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该事实记忆关联的会话的唯一标识符。"
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "title": "Status",
            "description": "事实记忆的状态，当前所有检索到的事实记忆都是activated。<br>activated：激活状态，当前可检索和使用的事实记忆。",
            "example": "activated"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Confidence",
            "description": "事实记忆的置信度分数，范围 0~1，数值越接近 1 表示该事实记忆越准确可靠。<br>置信度分数会随着模型对该事实记忆的推理次数增加而逐渐衰减，用于反映事实记忆随着时间或使用频率可能产生的不确定性。",
            "example": 0.95
          },
          "tags": {
            "type": "array",
            "title": "Tags",
            "description": "与事实记忆相关的标签列表，用于分类、检索或主题标记。数组中的每个元素都是string，例如 [\"人物\", \"事件\", \"工作\"]。",
            "items": {
              "type": "string"
            }
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "事实记忆最后一次被修改或更新的时间，通常为 ISO 8601 格式。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "查询内容与该事实记忆的相关性分数，范围 0~1，数值越接近 1 表示越相关。",
            "example": 0.87
          }
        },
        "title": "MemoryDetail"
      },
      "PreferenceDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "偏好记忆的唯一标识符，系统内部用于区分不同的记忆条目。"
          },
          "preference_type": {
            "type": "string",
            "enum": [
              "explicit_preference",
              "implicit_preference"
            ],
            "title": "Preference Type",
            "description": "explicit_preference：显式偏好记忆。<br>implicit_preference：隐式偏好记忆。",
            "example": "explicit_preference"
          },
          "preference": {
            "type": "string",
            "title": "Preference",
            "description": "偏好记忆的具体内容。"
          },
          "reasoning": {
            "type": "string",
            "title": "Reasoning",
            "description": "偏好记忆提取的原因。"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "偏好记忆内容创建的时间，通常为 ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该偏好记忆关联的会话的唯一标识符。"
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "title": "Status",
            "description": "偏好记忆的状态，当前所有检索到的偏好记忆都是activated。<br>activated：激活状态，当前可检索和使用的事实记忆。",
            "example": "activated"
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "偏好记忆最后一次被修改或更新的时间，通常为 ISO 8601 格式。"
          }
        },
        "title": "PreferenceDetail"
      },
      "SearchMemoryResponseData": {
        "type": "object",
        "title": "SearchMemoryResponseData",
        "properties": {
          "memory_detail_list": {
            "type": "array",
            "title": "Memory Detail List",
            "description": "返回的事实记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/MemoryDetail"
            }
          },
          "preference_detail_list": {
            "type": "array",
            "title": "Preference Detail List",
            "description": "返回的偏好记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/PreferenceDetail"
            }
          },
          "preference_note": {
            "type": "string",
            "title": "Preference Note",
            "description": "召回偏好记忆时，返回的偏好使用说明。"
          }
        }
      },
      "SearchMemoryResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/SearchMemoryResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息。"
          }
        },
        "title": "SearchMemoryResponse"
      },
      "DeleteMemoryRequest": {
        "type": "object",
        "required": [
          "user_ids",
          "memory_ids"
        ],
        "properties": {
          "user_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "User IDs",
            "description": "用户ID列表"
          },
          "memory_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Memory IDs",
            "description": "待删除的记忆ID列表"
          }
        },
        "title": "DeleteMemoryRequest"
      },
      "DeleteMemoryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "是否删除成功。true 表示成功，false 表示失败。",
                "example": true
              }
            },
            "description": "返回删除信息"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "删除提示信息"
          }
        },
        "title": "DeleteMemoryResponse"
      },
      "AddFeedbackRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "feedback_content"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "用户ID"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "反馈内容所关联的会话唯一标识符"
          },
          "feedback_content": {
            "type": "string",
            "title": "Feedback Content",
            "description": "反馈的具体内容"
          },
          "agent_id": {
            "type": "string",
            "title": "Agent ID",
            "description": "反馈内容所关联的 Agent 唯一标识符"
          },
          "app_id": {
            "type": "string",
            "title": "App ID",
            "description": "反馈内容所关联的应用唯一标识符"
          },
          "feedback_time": {
            "type": "string",
            "title": "Feedback Time",
            "description": "反馈时间字符串"
          },
          "allow_public": {
            "type": "boolean",
            "title": "Allow Public",
            "description": "是否允许公开，默认 false",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Allow Knowledgebase IDs",
            "description": "允许被写入的知识库列表"
          }
        },
        "title": "AddFeedbackRequest"
      },
      "AddFeedbackResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "是否添加成功。true 表示成功，false 表示失败。"
              },
              "status": {
                "type": "string",
                "title": "Status",
                "description": "任务状态：running（运行中），completed（完成）"
              },
              "task_id": {
                "type": "string",
                "title": "Task ID",
                "description": "任务id"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "AddFeedbackResponse"
      },
      "GetStatusRequest": {
        "type": "object",
        "required": [
          "task_id"
        ],
        "properties": {
          "task_id": {
            "type": "string",
            "title": "Task ID",
            "description": "异步任务ID"
          }
        },
        "title": "GetStatusRequest"
      },
      "GetStatusResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "status": {
                "type": "string",
                "title": "Status",
                "description": "任务状态"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "GetStatusResponse"
      },
      "CreateKnowledgebaseRequest": {
        "type": "object",
        "required": [
          "knowledgebase_name"
        ],
        "properties": {
          "knowledgebase_name": {
            "type": "string",
            "title": "Knowledgebase Name",
            "description": "知识库名称"
          },
          "knowledgebase_description": {
            "type": "string",
            "title": "Knowledgebase Description",
            "description": "描述信息"
          }
        },
        "title": "CreateKnowledgebaseRequest"
      },
      "CreateKnowledgebaseResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "是否创建成功。true 表示成功，false 表示失败。"
              },
              "task_id": {
                "type": "string",
                "title": "Task ID",
                "description": "任务id"
              },
              "status": {
                "type": "string",
                "title": "Status",
                "description": "任务状态"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "CreateKnowledgebaseResponse"
      },
      "DeleteKnowledgebaseRequest": {
        "type": "object",
        "required": [
          "knowledgebase_id"
        ],
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "title": "Knowledgebase ID",
            "description": "知识库ID"
          }
        },
        "title": "DeleteKnowledgebaseRequest"
      },
      "DeleteKnowledgebaseResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "是否删除成功。true 表示成功，false 表示失败。"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "DeleteKnowledgebaseResponse"
      },
      "UploadFileRequest": {
        "type": "object",
        "required": [
          "knowledgebase_id",
          "file"
        ],
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "title": "Knowledgebase ID",
            "description": "知识库ID"
          },
          "file": {
            "type": "array",
            "title": "File",
            "description": "上传文件列表",
            "items": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "title": "Content",
                  "description": "单个文件信息"
                }
              }
            }
          }
        },
        "title": "UploadFileRequest"
      },
      "UploadFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "id": {
                "type": "string",
                "title": "ID",
                "description": "文件ID"
              },
              "name": {
                "type": "string",
                "title": "Name",
                "description": "文件名称"
              },
              "sizeMB": {
                "type": "integer",
                "title": "Size MB",
                "description": "文件大小"
              },
              "status": {
                "type": "string",
                "title": "Status",
                "description": "文件状态"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口信息"
          }
        },
        "title": "UploadFileResponse"
      },
      "GetFileRequest": {
        "type": "object",
        "required": [
          "file_ids"
        ],
        "properties": {
          "file_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "File IDs",
            "description": "文件ID列表"
          }
        },
        "title": "GetFileRequest"
      },
      "GetFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "file_detail_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "ID",
                      "description": "文件id"
                    },
                    "name": {
                      "type": "string",
                      "title": "Name",
                      "description": "文件名称"
                    },
                    "size": {
                      "type": "string",
                      "title": "Size",
                      "description": "文件大小"
                    },
                    "status": {
                      "type": "string",
                      "title": "Status",
                      "description": "文件状态"
                    }
                  }
                },
                "title": "File Detail List"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "GetFileResponse"
      },
      "DeleteFileRequest": {
        "type": "object",
        "required": [
          "file_ids"
        ],
        "properties": {
          "file_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "File IDs",
            "description": "文件ID列表"
          }
        },
        "title": "DeleteFileRequest"
      },
      "DeleteFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "是否删除成功。true 表示成功，false 表示失败。"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "DeleteFileResponse"
      }
    }
  }
}