{
  "openapi": "3.1.0",
  "info": {
    "title": "MemOS Dashboard APIs",
    "description": "Dashboard API for managing messages and searching memories in MemOS.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://memos.memtensor.cn/api/openmem/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "paths": {
    "/add/message": {
      "post": {
        "summary": "添加消息",
        "description": "该接口用于添加会话消息，支持多类型内容、批量添加。MemOS 会自动解析消息并处理记忆，用于后续对话时召回参考。",
        "operationId": "add_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0610",
                "messages": [
                  {
                    "role": "user",
                    "content": "我想暑假出去玩，你能帮我推荐下吗？"
                  },
                  {
                    "role": "assistant",
                    "content": "好的！是自己出行还是和家人朋友一起呢？"
                  },
                  {
                    "role": "user",
                    "content": "肯定要带孩子啊，我们家出门都是全家一起。"
                  },
                  {
                    "role": "assistant",
                    "content": "明白了，所以你们是父母带孩子一块儿旅行，对吗？"
                  },
                  {
                    "role": "user",
                    "content": "对，带上孩子和老人，一般都是全家行动。"
                  },
                  {
                    "role": "assistant",
                    "content": "收到，那我会帮你推荐适合家庭出游的目的地。"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/message": {
      "post": {
        "summary": "获取消息",
        "description": "该接口用于获取指定会话的用户与助手历史对话记录，可按数量限制返回结果。",
        "operationId": "get_message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMessageRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "conversation_id": "0928",
                "message_limit_number": 6
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/memory": {
      "post": {
        "summary": "检索记忆",
        "description": "该接口用于检索指定用户的记忆，返回与输入查询内容最相关的记忆片段，供Agent使用。召回的记忆片段包括“事实记忆”、“偏好记忆”、“工具记忆”。",
        "operationId": "search_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchMemoryRequest"
              },
              "example": {
                "query": "我国庆想出去玩，帮我推荐个没去过的城市，以及没住过的酒店品牌",
                "user_id": "memos_user_123",
                "conversation_id": "0928"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMemoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chat": {
      "post": {
        "summary": "对话",
        "description": "",
        "operationId": "chat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              },
              "example": {
                "user_id": "memos_user_123",
                "stream": false,
                "query": "上海有哪些好玩的",
                "model_name": "deepseek-r1",
                "conversation_id": "23006762-a064-456e-a33b-d2452bdfa09f",
                "knowledgebase_ids": [
                  "2448808afa784cc5f7595da21ae5a3fd"
                ],
                "filter": {
                  "and": [
                    {
                      "create_time": {
                        "gt": "2025-09-19"
                      }
                    }
                  ]
                },
                "system_prompt": "推荐公园",
                "add_message_on_answer": false,
                "allow_public": false,
                "allow_knowledgebase_ids": [],
                "agent_id": "agent_id_2025-12-15-01",
                "app_id": "app_id_2025-12-15-01",
                "tags": [],
                "info": {},
                "max_tokens": 8192,
                "temperature": 0.7,
                "top_p": 0.95
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatStreamResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/memory": {
      "post": {
        "summary": "删除记忆",
        "description": "该接口用于删除指定用户的记忆，支持批量删除。",
        "operationId": "delete_memory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMemoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add/feedback": {
      "post": {
        "summary": "添加反馈",
        "description": "该接口用于添加对当前会话消息的反馈，MemOS能够基于用户的反馈更正记忆。",
        "operationId": "add_feedback",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFeedbackResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/status": {
      "post": {
        "summary": "获取任务状态",
        "description": "获取异步处理任务的状态。",
        "operationId": "get_status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/create/knowledgebase": {
      "post": {
        "summary": "创建知识库",
        "description": "创建与项目关联的知识库",
        "operationId": "create_knowledgebase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgebaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKnowledgebaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/knowledgebase": {
      "post": {
        "summary": "移除知识库",
        "description": "从当前项目中移除知识库，彻底删除知识库需从控制台-知识库页面操作。",
        "operationId": "delete_knowledgebase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteKnowledgebaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteKnowledgebaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add/knowledgebase-file": {
      "post": {
        "summary": "添加知识库文档",
        "description": "向指定知识库上传文档",
        "operationId": "add_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/knowledgebase-file": {
      "post": {
        "summary": "获取知识库文档",
        "description": "获取指定文档信息",
        "operationId": "get_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/knowledgebase-file": {
      "post": {
        "summary": "删除知识库文档",
        "description": "从指定知识库中删除文档",
        "operationId": "delete_knowledgebase-file",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Token API_key，可在 <a href=\"https://memos-dashboard.openmem.net/apikeys/\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\" target=\"_blank\">API 控制台>接口密钥</a> 中查看"
      }
    },
    "schemas": {
      "ChatRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "对话内容所关联的用户唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "对话内容所在会话的唯一标识符，传入可明确当前会话，本会话的记忆应当比其他历史会话的权重高；不传可跨会话检索相关记忆，得到相关性更高的模型回答。"
          },
          "query": {
            "type": "string",
            "title": "Query",
            "description": "用户输入的对话内容。"
          },
          "filter": {
            "type": "object",
            "title": "Filter",
            "description": "记忆过滤的条件，用于在检索记忆前精确限定记忆范围。可用字段包括：\"agent_id\", \"app_id\", \"create_time\", \"update_time\"与\"info\"中的字段。支持逻辑运算符（and，or）和比较运算符（gte、lte、gt、lt）。对于\"info\"字段，支持过滤传入的\"business_type\", \"biz_id\", \"scene\"和其他自定义字段。",
            "example": "{\"and\": [{\"create_time\":{\"gte\":\"...\"}}]}"
          },
          "knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Knowledgebase IDs",
            "description": "选定可以检索的知识库范围。"
          },
          "memory_limit_number": {
            "type": "integer",
            "title": "Memory Limit Number",
            "description": "限定返回的事实记忆条数，用于控制召回的事实记忆个数。默认值： 6，最大值：25。",
            "default": 6
          },
          "include_preference": {
            "type": "boolean",
            "title": "Include Preference",
            "description": "是否要召回偏好记忆，开启后系统会根据查询内容智能召回与用户偏好相关的记忆。默认 =true",
            "default": true
          },
          "preference_limit_number": {
            "type": "integer",
            "title": "Preference Limit Number",
            "description": "限定返回的偏好记忆条数，用于控制召回的偏好记忆个数，仅在include_preference=true 时生效 默认值： 6，最大值：25",
            "default": 6
          },
          "model_name": {
            "type": "string",
            "enum": [
              "Qwen3-32B",
              "deepseek-r1",
              "qwen2.5-72B-Instruct"
            ],
            "title": "Model Name",
            "description": "指定具体对话模型。",
            "default": "qwen2.5-72B-Instruct"
          },
          "system_prompt": {
            "type": "string",
            "title": "System Prompt",
            "description": "自定义系统指令。"
          },
          "stream": {
            "type": "boolean",
            "title": "Stream",
            "description": "是否启用流式返回。",
            "default": false
          },
          "max_tokens": {
            "type": "integer",
            "title": "Max Tokens",
            "description": "表示最大生成 token 数。",
            "default": 8192
          },
          "temperature": {
            "type": "number",
            "title": "Temperature",
            "description": "控制生成随机性。取值范围：0 <= x <= 2",
            "default": 0.7
          },          
          "top_p": {
            "type": "number",
            "title": "Top P",
            "description": "Nucleus 采样参数。取值范围：0 <= x <= 1",
            "default": 0.95
          },
         "add_message_on_answer": {
            "type": "boolean",
            "title": "Add Message On Answer",
            "description": "是否自动将用户与助手的会话内容写入记忆。启用后，开发者无需再调用add/message接口添加消息为记忆。",
            "default": true
          },
          "app_id": {
            "type": "string",
            "title": "App ID",
            "description": "对话内容所关联的应用唯一标识符。"
          },
          "agent_id": {
            "type": "string",
            "title": "Agent ID",
            "description": "对话内容所关联的Agent唯一标识符。"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Tags",
            "description": "自定义标签列表，用于标记对话内容的主题或分类。"
          },
          "info": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "title": "Info",
            "description": "自定义元信息字段，能够存储任意与对话内容相关的结构化数据，例如位置、来源、版本等，主要用于在检索时精确过滤或追踪来源。"
          },
          "allow_public": {
            "type": "boolean",
            "title": "Allow Public",
            "description": "是否允许加入公共记忆。",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Allow Knowledgebase IDs",
            "description": "添加的消息产生的记忆允许被写入的知识库列表。"
          }
        },
        "title": "ChatRequest"
      },
      "ChatResponseData": {
        "type": "object",
        "title": "ChatResponseData",
        "properties": {
          "response": {
            "type": "string",
            "title": "Response",
            "description": "回答的具体内容。"
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "$ref": "#/components/schemas/ChatResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "提示信息"
          }
        },
        "title": "ChatResponse"
      },
      "ChatStreamResponse": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "description": "流式事件名称，当前默认为 message。",
            "default": "message"
          },
          "data": {
            "type": "object",
            "description": "流式返回的数据内容。",
            "properties": {
              "type": {
                "type": "string",
                "description": "流式消息类型，用于标识当前数据的语义类别。<br>reasoning：推理内容<br>text：正常文本内容<br>end：流式结束标识",
                "enum": [
                  "reasoning",
                  "text",
                  "end"
                ]
              },
              "data": {
                "type": "string",
                "description": "流式返回的文本内容。"
              }
            }
          }
        },
        "title": "ChatStreamResponse"
      },
      "MessageInput": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "chat_time": {
            "type": "string",
            "title": "Chat Time",
            "description": "对话发生的时间，可传入结构化时间或中文时间描述。传入该参数能够让记忆携带时间信息。"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "tool"
            ],
            "title": "Role",
            "description": "消息创建者的角色。"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "消息文本内容"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "image_url",
                        "file"
                      ],
                      "description": "发送的消息类型"
                    },
                    "text": {
                      "type": "string",
                      "description": "文本消息内容。type为text时必填。"
                    },
                    "image_url": {
                      "type": "object",
                      "description": "图片消息内容对象。",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "图片消息URL。type为image_url时必填。"
                        }
                      }
                    },
                    "file": {
                      "type": "object",
                      "description": "文件消息内容对象。",
                      "properties": {
                        "file_data": {
                          "type": "string",
                          "description": "可访问的文件URL或者base64, 只支持四种类型txt / pdf / doc / docx， 单文件不超过100MB、200页，总数不超过20个。type为file时必填。"
                        }
                      }
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                "description": "多模态内容列表"
              }
            ],
            "description": "消息内容文本。"
          },
          "tool_call_id": {
              "type": "string",
              "description": "role为tool时，工具调用消息的唯一标识。"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "工具调用的唯一标识，用于关联本次工具调用。tool_calls中必填。"
                },
                "type": {
                  "type": "string",
                  "description": "工具调用类型，当前仅支持 function。tool_calls中必填。",
                  "enum": ["function"]
                },
                "function": {
                  "type": "object",
                  "description": "被调用的工具定义，tool_calls中必填。",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "工具（函数）名称，tool_calls中必填。"
                    },
                    "arguments": {
                      "type": "string",
                      "description": "工具调用参数，需为 JSON 格式的字符串，tool_calls中必填。"
                    }
                  }
                }
              }
            },
            "description": "role为assistant时，工具调用信息列表，用于在触发工具调用时传递。"
          }
        },
        "title": "MessageInput"
      },
      "AddMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "messages"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "添加的消息所关联的用户唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "添加的消息所关联的会话唯一标识符，相同conversation_id下的多轮消息会被识别为同一上下文。"
          },
          "messages": {
            "type": "array",
            "title": "Messages",
            "description": "添加的消息对象数组，数组中所有消息的总token数上限为20k。",
            "items": {
              "$ref": "#/components/schemas/MessageInput"
            }
          },
          "agent_id": {
            "type": "string",
            "description": "添加的消息所关联的 Agent 唯一标识符，主要用于在检索记忆时查询某用户与该Agent的专属记忆。"
          },
          "app_id": {
            "type": "string",
            "description": "添加的消息所关联的应用唯一标识符，主要用于在检索记忆时查询某用户在该App下的专属记忆。"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "自定义标签列表，用于标记添加消息的主题或分类。",
            "default": []
          },
          "info": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "自定义元信息字段，能够存储任意与添加信息相关的结构化数据，例如位置、来源、版本等，主要用于在检索时精确过滤或追踪来源。"
          },
          "allow_public": {
            "type": "boolean",
            "description": "添加的消息产生的记忆是否允许写入公共记忆库。开启后，生成的记忆可被项目下的其他用户检索。",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "添加的消息，产生的记忆允许被写入的知识库范围。",
            "default": []
          },
          "async_mode": {
            "type": "boolean",
            "description": "是否启用异步添加记忆。开启后，记忆将在后台异步添加，避免阻塞调用链。",
            "default": true
          }
        },
        "title": "AddMessageRequest"
      },
      "OpenMemAddMessageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "description": "是否添加成功。true表示成功，false表示失败。",
            "example": true
          },
          "task_id": {
            "type": "string",
            "title": "Task ID",
            "description": "记忆处理任务的唯一标识。"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "enum": [
              "running",
              "completed",
              "failed"
            ],
            "description": "记忆处理任务当前的状态。"
          }
        },
        "title": "OpenMemAddMessageResponse"
      },
      "AddMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/OpenMemAddMessageResponse"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息。",
            "example": "ok"
          }
        },
        "title": "AddMessageResponse"
      },
      "GetMessageRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "与获取消息关联的用户的唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与获取消息关联的会话的唯一标识符。"
          },
          "message_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Message Limit Number",
            "description": "限定返回的消息条数，用于控制消息列表的长度，不传时使用系统默认值6，最大值为50",
            "default": 6
          }
        },
        "title": "GetMessageRequest"
      },
      "MessageDetail": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "title": "Role",
            "description": "消息发送者的角色。",
            "example": "user"
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "消息内容文本。"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "消息创建时间。"
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "消息最近一次更新时间。"
          }
        },
        "title": "MessageDetail"
      },
      "GetMessageResponseData": {
        "type": "object",
        "properties": {
          "message_detail_list": {
            "type": "array",
            "title": "Message Detail List",
            "description": "消息添加结果对象。",
            "items": {
              "$ref": "#/components/schemas/MessageDetail"
            }
          }
        },
        "title": "GetMessageResponseData"
      },
      "GetMessageResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/GetMessageResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息。"
          }
        },
        "title": "GetMessageResponse"
      },
      "SearchMemoryRequest": {
        "type": "object",
        "required": [
          "user_id",
          "query"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "与查询的记忆关联的用户的唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "查询内容所在会话的唯一标识符，传入可以明确当前会话，本会话的记忆应当比其他历史会话的权重高。"
          },
          "query": {
            "type": "string",
            "title": "Query",
            "description": "要在记忆中查询的文本内容，单次查询文本的token上限为20k。"
          },
          "filter": {
            "type": "object",
            "title": "Filter",
            "description": "记忆过滤的条件，用于在检索记忆前精确限定记忆范围。可用字段包括：\"agent_id\", \"app_id\", \"create_time\", \"update_time\"以及\"info\"中的字段。支持逻辑运算符（and，or）和比较运算符（gte、lte、gt、lt）。对于\"info\"字段，支持过滤传入的\"business_type\", \"biz_id\", \"scene\"和其他自定义字段。",
            "example": "{\"and\": [{\"create_time\":{\"gte\":\"...\"}}]}"
          },
          "knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "指定搜索的知识库范围，默认空"
          },
          "memory_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Memory Limit Number",
            "description": "限定返回的事实记忆条数，用于控制事实记忆片段的长度，不传时使用系统默认值6，最大值为25。",
            "default": 6
          },
          "include_preference": {
            "type": "boolean",
            "title": "Include Preference",
            "description": "是否启用偏好记忆召回。开启后，将根据查询的内容智能召回用户的偏好记忆。不传时该功能默认开启。",
            "default": true
          },
          "preference_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Preference Limit Number",
            "description": "限定返回的偏好记忆条数，用于控制偏好记忆片段的长度，仅在 include_preference=true 时生效。不传时使用系统默认值6，最大值为25。",
            "default": 6
          },
          "include_tool_memory": {
            "type": "boolean",
            "title": "Include Tool Memory",
            "description": "是否启用工具记忆召回。开启后，系统会根据查询内容智能召回工具相关的记忆。不传时该功能默认关闭。",
            "default": false
          },
          "tool_memory_limit_number": {
            "type": "integer",
            "format": "int32",
            "title": "Tool Memroy Limit Number",
            "description": "限定返回的工具记忆条数，用于控制召回的工具记忆个数,仅在 include_tool_memory=true 时生效。不传时使用系统默认值6，最大值为25。",
            "default": 6
          }
        },
        "title": "SearchMemoryRequest"
      },
      "MemoryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "事实记忆的唯一标识符，系统内部用于区分不同的记忆条目。"
          },
          "memory_key": {
            "type": "string",
            "title": "Memory Key",
            "description": "事实记忆的标题或关键词，用于概括该事实记忆的主要内容。"
          },
          "memory_value": {
            "type": "string",
            "title": "Memory Value",
            "description": "事实记忆的具体内容。"
          },
          "memory_type": {
            "type": "string",
            "enum": [
              "WorkingMemory",
              "LongTermMemory",
              "UserMemory"
            ],
            "title": "Memory Type",
            "description": "事实记忆类型。<br>WorkingMemory：工作记忆，临时存储的短期信息。<br>LongTermMemory：长期记忆，持久保存的重要信息或事实。<br>UserMemory：用户记忆，与特定用户相关的个性化信息。",
            "example": "LongTermMemory"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "事实记忆内容创建的时间，通常为 ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该事实记忆关联的会话的唯一标识符。"
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "title": "Status",
            "description": "事实记忆的状态，当前所有检索到的事实记忆都是activated。<br>activated：激活状态，当前可检索和使用的事实记忆。",
            "example": "activated"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Confidence",
            "description": "事实记忆的置信度分数，范围 0~1，数值越接近 1 表示该事实记忆越准确可靠。<br>置信度分数会随着模型对该事实记忆的推理次数增加而逐渐衰减，用于反映事实记忆随着时间或使用频率可能产生的不确定性。",
            "example": 0.95
          },
          "tags": {
            "type": "array",
            "title": "Tags",
            "description": "与事实记忆相关的标签列表，用于分类、检索或主题标记。数组中的每个元素都是string，例如 [\"人物\", \"事件\", \"工作\"]。",
            "items": {
              "type": "string"
            }
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "事实记忆最后一次被修改或更新的时间，通常为 ISO 8601 格式。"
          },
          "relativity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "title": "Relativity",
            "description": "查询内容与该事实记忆的相关性分数，范围 0~1，数值越接近 1 表示越相关。",
            "example": 0.87
          }
        },
        "title": "MemoryDetail"
      },
      "PreferenceDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "偏好记忆的唯一标识符，系统内部用于区分不同的记忆条目。"
          },
          "preference_type": {
            "type": "string",
            "enum": [
              "explicit_preference",
              "implicit_preference"
            ],
            "title": "Preference Type",
            "description": "偏好记忆类型。<br>explicit_preference：显式偏好记忆。<br>implicit_preference：隐式偏好记忆。",
            "example": "explicit_preference"
          },
          "preference": {
            "type": "string",
            "title": "Preference",
            "description": "偏好记忆的具体内容。"
          },
          "reasoning": {
            "type": "string",
            "title": "Reasoning",
            "description": "偏好记忆提取的原因。"
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "偏好记忆内容创建的时间，通常为 ISO 8601 格式。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该偏好记忆关联的会话的唯一标识符。"
          },
          "status": {
            "type": "string",
            "enum": [
              "activated"
            ],
            "title": "Status",
            "description": "偏好记忆的状态，当前所有检索到的偏好记忆都是activated。<br>activated：激活状态，当前可检索和使用的事实记忆。",
            "example": "activated"
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "偏好记忆最后一次被修改或更新的时间，通常为 ISO 8601 格式。"
          }
        },
        "title": "PreferenceDetail"
      },
      "ToolUsedStatus": {
        "type": "object",
        "properties": {
          "used_tool": {
            "type": "string",
            "title": "Used Tool",
            "description": "使用的工具名称。"
          },
          "experience": {
            "type": "string",
            "title": "Experience",
            "description": "工具使用经验或协作建议。"
          },
          "error_type": {
            "type": "string",
            "title": "Error Type",
            "description": "调用失败时的错误描述。"
          },
          "success_rate": {
            "type": "string",
            "title": "Success Rate",
            "description": "本次工具轨迹的成功率。"
          }
        },
        "title": "ToolUsedStatus"
      },
      "ToolMemoryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "工具记忆片段的唯一标识符。"
          },
          "tool_type": {
            "type": "string",
            "title": "Tool Type",
            "description": "工具记忆类型。ToolTrajectoryMemory 表示工具轨迹记忆；ToolSchema 表示工具信息记忆。",
            "enum": [
              "ToolTrajectoryMemory",
              "ToolSchema"
            ]
          },
          "tool_value": {
            "type": "string",
            "title": "Tool Value",
            "description": "工具记忆的具体内容。"
          },
          "tool_used_status": {
            "type": "array",
            "title": "Tool Used Status",
            "description": "工具轨迹记忆列表，每条记录包含使用的工具及经验信息。",
            "items": {
              "$ref": "#/components/schemas/ToolUsedStatus"
            }
          },
          "create_time": {
            "type": "string",
            "title": "Create Time",
            "description": "工具记忆创建时间（ISO 8601 格式）。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "与该工具记忆关联的会话唯一标识符。"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "工具记忆状态，当前为 activated。",
            "enum": [
              "activated"
            ]
          },
          "update_time": {
            "type": "string",
            "title": "Update Time",
            "description": "工具记忆最后一次更新的时间（ISO 8601 格式）。"
          }
        },
        "title": "ToolMemoryDetail"
      },
      "SearchMemoryResponseData": {
        "type": "object",
        "title": "SearchMemoryResponseData",
        "properties": {
          "memory_detail_list": {
            "type": "array",
            "title": "Memory Detail List",
            "description": "返回的事实记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/MemoryDetail"
            }
          },
          "preference_detail_list": {
            "type": "array",
            "title": "Preference Detail List",
            "description": "返回的偏好记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/PreferenceDetail"
            }
          },
          "tool_memory_detail_list": {
            "type": "array",
            "title": "Tool Memory Detail List",
            "description": "返回的工具记忆片段详情列表。",
            "items": {
              "$ref": "#/components/schemas/ToolMemoryDetail"
            }
          },
          "preference_note": {
            "type": "string",
            "title": "Preference Note",
            "description": "召回偏好记忆时，返回的偏好使用说明。"
          }
        }
      },
      "SearchMemoryResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。",
            "example": 0
          },
          "data": {
            "$ref": "#/components/schemas/SearchMemoryResponseData"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息。"
          }
        },
        "title": "SearchMemoryResponse"
      },
      "DeleteMemoryRequest": {
        "type": "object",
        "required": [
          "user_ids",
          "memory_ids"
        ],
        "properties": {
          "user_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "User IDs",
            "description": "可以删除记忆的用户列表。"
          },
          "memory_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Memory IDs",
            "description": "删除的记忆所关联的唯一标识符。"
          }
        },
        "title": "DeleteMemoryRequest"
      },
      "DeleteMemoryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "是否删除成功。true 表示成功，false 表示失败。",
                "example": true
              }
            },
            "description": "返回删除信息"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "删除提示信息"
          }
        },
        "title": "DeleteMemoryResponse"
      },
      "AddFeedbackRequest": {
        "type": "object",
        "required": [
          "user_id",
          "conversation_id",
          "feedback_content"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User ID",
            "description": "反馈内容所关联的用户唯一标识符。"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation ID",
            "description": "反馈内容所关联的会话唯一标识符。"
          },
          "feedback_content": {
            "type": "string",
            "title": "Feedback Content",
            "description": "反馈内容文本。"
          },
          "agent_id": {
            "type": "string",
            "title": "Agent ID",
            "description": "反馈内容所关联的Agent唯一标识符，主要用于在检索记忆时查询某用户与该Agent的专属记忆。"
          },
          "app_id": {
            "type": "string",
            "title": "App ID",
            "description": "反馈内容所关联的应用唯一标识符，主要用于在检索记忆时查询某用户在该App下的专属记忆。"
          },
          "feedback_time": {
            "type": "string",
            "title": "Feedback Time",
            "description": "反馈发生的时间，可传入结构化时间或自然语言时间描述。传入该参数能够让记忆携带时间信息。"
          },
          "allow_public": {
            "type": "boolean",
            "title": "Allow Public",
            "description": "反馈内容，产生的记忆，是否允许写入公共记忆库。开启后，生成的记忆可被项目下的其他用户检索。 ",
            "default": false
          },
          "allow_knowledgebase_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Allow Knowledgebase IDs",
            "description": "反馈内容产生的记忆，允许被写入的知识库列表。"
          }
        },
        "title": "AddFeedbackRequest"
      },
      "AddFeedbackResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "是否添加成功。true 表示成功，false 表示失败。"
              },
              "status": {
                "type": "string",
                "title": "Status",
                "description": "任务状态：running（运行中），completed（完成）"
              },
              "task_id": {
                "type": "string",
                "title": "Task ID",
                "description": "任务id"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "AddFeedbackResponse"
      },
      "GetStatusRequest": {
        "type": "object",
        "required": [
          "task_id"
        ],
        "properties": {
          "task_id": {
            "type": "string",
            "title": "Task ID",
            "description": "异步任务ID"
          }
        },
        "title": "GetStatusRequest"
      },
      "GetStatusResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "status": {
                "type": "string",
                "title": "Status",
                "enum": [
                  "running",
                  "completed",
                  "failed"
                ],
                "description": "记忆处理任务当前的状态。"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "GetStatusResponse"
      },
      "CreateKnowledgebaseRequest": {
        "type": "object",
        "required": [
          "knowledgebase_name"
        ],
        "properties": {
          "knowledgebase_name": {
            "type": "string",
            "title": "Knowledgebase Name",
            "description": "知识库名称"
          },
          "knowledgebase_description": {
            "type": "string",
            "title": "Knowledgebase Description",
            "description": "描述信息"
          }
        },
        "title": "CreateKnowledgebaseRequest"
      },
      "CreateKnowledgebaseResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "id": {
                "type": "string",
                "title": "KNOWLEDGEBASE ID",
                "description": "创建成功后返回的知识库 ID"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "CreateKnowledgebaseResponse"
      },
      "DeleteKnowledgebaseRequest": {
        "type": "object",
        "required": [
          "knowledgebase_id"
        ],
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "title": "Knowledgebase ID",
            "description": "要移除的知识库ID"
          }
        },
        "title": "DeleteKnowledgebaseRequest"
      },
      "DeleteKnowledgebaseResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "是否移除成功。true 表示成功，false 表示失败。"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "DeleteKnowledgebaseResponse"
      },
      "UploadFileRequest": {
        "type": "object",
        "required": [
          "knowledgebase_id",
          "file"
        ],
        "properties": {
          "knowledgebase_id": {
            "type": "string",
            "title": "Knowledgebase ID",
            "description": "目标知识库ID"
          },
          "file": {
            "type": "array",
            "title": "File",
            "description": "上传文档列表",
            "items": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "title": "Content",
                  "description": "文档内容，支持 URL 或 Base64"
                }
              }
            }
          }
        },
        "title": "UploadFileRequest"
      },
      "UploadFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "id": {
                "type": "string",
                "title": "ID",
                "description": "文档ID"
              },
              "name": {
                "type": "string",
                "title": "Name",
                "description": "文档名称"
              },
              "sizeMB": {
                "type": "integer",
                "title": "Size MB",
                "description": "文档大小"
              },
              "status": {
                "type": "string",
                "title": "Status",
                "description": "文档处理状态",
                "enum":[
                  "running",
                  "completed",
                  "failed"
                ]
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口信息"
          }
        },
        "title": "UploadFileResponse"
      },
      "GetFileRequest": {
        "type": "object",
        "required": [
          "file_ids"
        ],
        "properties": {
          "file_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "File IDs",
            "description": "文件ID列表"
          }
        },
        "title": "GetFileRequest"
      },
      "GetFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "file_detail_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "ID",
                      "description": "文档ID"
                    },
                    "name": {
                      "type": "string",
                      "title": "Name",
                      "description": "文档名称"
                    },
                    "size": {
                      "type": "string",
                      "title": "Size",
                      "description": "文档大小"
                    },
                    "status": {
                      "type": "string",
                      "title": "Status",
                      "description": "文档处理状态",
                      "enum":[
                        "running",
                        "completed",
                        "failed"
                      ]
                    }
                  }
                },
                "title": "File Detail List"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "GetFileResponse"
      },
      "DeleteFileRequest": {
        "type": "object",
        "required": [
          "file_ids"
        ],
        "properties": {
          "file_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "File IDs",
            "description": "要删除的文档 ID 列表"
          }
        },
        "title": "DeleteFileRequest"
      },
      "DeleteFileResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "description": "接口状态码，更多内容可查阅<a href=\"/api_docs/help/error_codes\" class=\"text-primary border-b border-transparent hover:border-primary font-medium focus-visible:outline-primary [&amp;&gt;code]:border-dashed hover:[&amp;&gt;code]:border-primary hover:[&amp;&gt;code]:text-primary transition-colors [&amp;&gt;code]:transition-colors\">错误码列表</a>了解详情。"
          },
          "data": {
            "type": "object",
            "title": "Data",
            "properties": {
              "success": {
                "type": "boolean",
                "title": "Success",
                "description": "是否删除成功。true 表示成功，false 表示失败。"
              }
            }
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "接口提示信息"
          }
        },
        "title": "DeleteFileResponse"
      }
    }
  }
}
